// 
// 
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.


// Color Scheme
// Change the hex values below to alter the main color scheme.
$momo: #A50064;
$momo-1: #E81F76;
$momo-2: #F45197;

// $momo-gradient : linear-gradient(to right, $momo, $momo-1);
$momo-gradient : linear-gradient(to right, #E82176, #A42067);

$primary:       #2568EF;
$primary-2:     #A50064;
$primary-3:     #051B35;




// Do not change or remove the $theme-color-scheme or $theme-colors maps below

$theme-color-scheme: (
    "primary":    $primary,
    "primary-2":  $primary-2,
    "primary-3":  $primary-3
);

$theme-colors: map-merge(
  (
    "primary":    $primary,
    "primary-2":  $primary-2,
    "primary-3":  $primary-3,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "pink":       $pink
  ),
  $theme-colors
);