
/* 2.3. Stack */
@-webkit-keyframes lqdStackArrowNext {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  61% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes lqdStackArrowNext {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  61% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}
@-webkit-keyframes lqdStackArrowPrev {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  61% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes lqdStackArrowPrev {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  61% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}
@-webkit-keyframes lqdStackNumberActive {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes lqdStackNumberActive {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes lqdStackNumberPassed {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes lqdStackNumberPassed {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes lqdStackNumberActiveUp {
  from {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes lqdStackNumberActiveUp {
  from {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes lqdStackNumberPassedUp {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes lqdStackNumberPassedUp {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes lqdStackArrowDash {
  from {
    stroke-dasharray: 5;
  }
  to {
    stroke-dasharray: 40;
  }
}
@keyframes lqdStackArrowDash {
  from {
    stroke-dasharray: 5;
  }
  to {
    stroke-dasharray: 40;
  }
}
@-webkit-keyframes lqdStackRowFadeScaleEnterFromBottom {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes lqdStackRowFadeScaleEnterFromBottom {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes lqdStackRowFadeScaleEnter {
  from {
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
    opacity: 0;
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes lqdStackRowFadeScaleEnter {
  from {
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
    opacity: 0;
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes lqdStackRowFadeScaleLeave {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
    opacity: 0;
  }
}
@keyframes lqdStackRowFadeScaleLeave {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
    opacity: 0;
  }
}
@-webkit-keyframes lqdStackRowFadeScaleLeaveToBottom {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0);
  }
}
@keyframes lqdStackRowFadeScaleLeaveToBottom {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0);
  }
}
@-webkit-keyframes lqdStackRowSlideOverEnterFromTop {
  from {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes lqdStackRowSlideOverEnterFromTop {
  from {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes lqdStackRowSlideOverEnterFromBottom {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes lqdStackRowSlideOverEnterFromBottom {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes lqdStackRowSlideOverLeaveToTop {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -50vh, 0);
    transform: translate3d(0, -50vh, 0);
  }
}
@keyframes lqdStackRowSlideOverLeaveToTop {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -50vh, 0);
    transform: translate3d(0, -50vh, 0);
  }
}
@-webkit-keyframes lqdStackRowSlideOverLeaveToBottom {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 50vh, 0);
    transform: translate3d(0, 50vh, 0);
  }
}
@keyframes lqdStackRowSlideOverLeaveToBottom {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 50vh, 0);
    transform: translate3d(0, 50vh, 0);
  }
}
.lqd-stack-page-number,
.lqd-stack-prevnext-wrap,
.lqd-stack-extra {
  display: none;
}

.pp-section {
  width: 100vw;
  height: 100vh;
  position: absolute !important;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: -webkit-transform 1.15s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: -webkit-transform 1.15s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 1.15s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 1.15s cubic-bezier(0.22, 0.61, 0.36, 1),
    -webkit-transform 1.15s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.pp-section:not(.active):not(.lqd-stack-row-entering):not(.lqd-stack-row-leaving) {
  left: -999999px;
  pointer-events: none;
}


.lqd-stack-section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.pp-enabled .titlebar {
  display: none !important;
}
.pp-enabled [data-liquid-stack="true"] {
  height: 100vh;
}
.pp-enabled [data-liquid-stack="true"] > section {
  width: 100%;
  height: 100vh;
  -ms-flex-line-pack: center;
  align-content: center;
}
.pp-enabled [data-liquid-stack="true"] .main-footer {
  top: auto;
  bottom: 0;
  -webkit-animation: none !important;
  animation: none !important;
}

.lqd-stack-prevnext-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  border: none;
  position: fixed;
  top: 50%;
  z-index: 10;
  white-space: nowrap;
  background: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.lqd-stack-prevnext-button:focus {
  outline: none;
}
.lqd-stack-prevnext-button svg {
  stroke: currentColor;
}

.lqd-stack-prev-button {
  left: 50px;
  margin-right: 5px;
}

.lqd-stack-next-button {
  right: 50px;
  margin-left: 5px;
}

.lqd-stack-buttons-style-1 .lqd-stack-prevnext-button {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.lqd-stack-buttons-style-1 .lqd-stack-prevnext-button svg {
  display: none;
}
.lqd-stack-buttons-style-1 .lqd-stack-button-labbel {
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.lqd-stack-buttons-style-1 .lqd-stack-button-ext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.lqd-stack-buttons-style-1 .lqd-stack-button-ext:before {
  display: inline-block;
  font: normal normal 2em "liquid-icon";
}
.lqd-stack-buttons-style-1 .lqd-stack-prev-button {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.lqd-stack-buttons-style-1 .lqd-stack-prev-button .lqd-stack-button-ext {
  margin-right: 10px;
}
.lqd-stack-buttons-style-1 .lqd-stack-prev-button .lqd-stack-button-ext:before {
  content: "\f117";
}
.lqd-stack-buttons-style-1
  .lqd-stack-prev-button:hover
  .lqd-stack-button-labbel {
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px);
}
.lqd-stack-buttons-style-1 .lqd-stack-prev-button:hover .lqd-stack-button-ext {
  -webkit-animation: lqdStackArrowPrev 0.45s cubic-bezier(0.77, 0, 0.175, 1)
    both alternate;
  animation: lqdStackArrowPrev 0.45s cubic-bezier(0.77, 0, 0.175, 1) both
    alternate;
}
.lqd-stack-buttons-style-1 .lqd-stack-next-button .lqd-stack-button-ext {
  margin-left: 10px;
}
.lqd-stack-buttons-style-1 .lqd-stack-next-button .lqd-stack-button-ext:before {
  content: "\f119";
}
.lqd-stack-buttons-style-1
  .lqd-stack-next-button:hover
  .lqd-stack-button-labbel {
  -webkit-transform: translateX(2px);
  transform: translateX(2px);
}
.lqd-stack-buttons-style-1 .lqd-stack-next-button:hover .lqd-stack-button-ext {
  -webkit-animation: lqdStackArrowNext 0.45s cubic-bezier(0.77, 0, 0.175, 1)
    both alternate;
  animation: lqdStackArrowNext 0.45s cubic-bezier(0.77, 0, 0.175, 1) both
    alternate;
}

.lqd-stack-buttons-style-2 .lqd-stack-button-labbel {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 1px;
  word-wrap: normal !important;
}
.lqd-stack-buttons-style-2 .lqd-stack-button-ext {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
}
.lqd-stack-buttons-style-2 .lqd-stack-button-circ {
  opacity: 0.3;
}
.lqd-stack-buttons-style-2 .lqd-stack-button-circ-clone {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  stroke-dasharray: 110;
  stroke-dashoffset: 110;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: stroke-dashoffset 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.lqd-stack-buttons-style-2 .lqd-stack-button-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lqd-stack-buttons-style-2
  .lqd-stack-prevnext-button:hover
  .lqd-stack-button-arrow {
  -webkit-animation: lqdStackArrowDash 1s ease both alternate;
  animation: lqdStackArrowDash 1s ease both alternate;
}
.lqd-stack-buttons-style-2 .lqd-stack-prev-button .lqd-stack-button-arrow {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  margin-left: -1px;
}
.lqd-stack-buttons-style-2
  .lqd-stack-prev-button:hover
  .lqd-stack-button-circ-clone {
  stroke-dashoffset: 166;
}
.lqd-stack-buttons-style-2 .lqd-stack-next-button .lqd-stack-button-arrow {
  margin-left: 1px;
}
.lqd-stack-buttons-style-2
  .lqd-stack-next-button:hover
  .lqd-stack-button-circ-clone {
  stroke-dashoffset: 53.5;
}

.lqd-stack-page-number {
  position: fixed;
  bottom: 40px;
  left: 50%;
  z-index: 10;
  font-size: 20px;
  font-weight: 700;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition-property: opacity, visibility, color;
  transition-property: opacity, visibility, color;
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.lqd-stack-page-number span {
  display: inline-block;
}

.lqd-stack-page-number-counter {
  position: relative;
}

.lqd-stack-page-number-current {
  overflow: hidden;
}

.lqd-stack-page-number-passed {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.lqd-stack-page-number-total {
  font-size: 0.55em;
}
.lqd-stack-page-number-total:before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1.75em;
  margin-right: 4px;
  margin-left: 2px;
  background-color: currentColor;
  -webkit-transform: skewX(-18deg);
  transform: skewX(-18deg);
}

.lqd-stack-row-entering {
  z-index: 10 !important;
}
.lqd-stack-effect-fadeScale.lqd-stack-moving-up .lqd-stack-row-entering {
  -webkit-animation: lqdStackRowFadeScaleEnter 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
  animation: lqdStackRowFadeScaleEnter 1.2s cubic-bezier(0.23, 1, 0.32, 1) both
    alternate;
  z-index: 0 !important;
}
.lqd-stack-effect-fadeScale.lqd-stack-moving-down .lqd-stack-row-entering {
  -webkit-animation: lqdStackRowFadeScaleEnterFromBottom 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
  animation: lqdStackRowFadeScaleEnterFromBottom 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
}
.lqd-stack-effect-slideOver.lqd-stack-moving-up .lqd-stack-row-entering {
  -webkit-animation: lqdStackRowSlideOverEnterFromTop 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
  animation: lqdStackRowSlideOverEnterFromTop 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
}
.lqd-stack-effect-slideOver.lqd-stack-moving-down .lqd-stack-row-entering {
  -webkit-animation: lqdStackRowSlideOverEnterFromBottom 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
  animation: lqdStackRowSlideOverEnterFromBottom 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
}

.lqd-stack-effect-fadeScale.lqd-stack-moving-up .lqd-stack-row-leaving {
  -webkit-animation: lqdStackRowFadeScaleLeaveToBottom 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
  animation: lqdStackRowFadeScaleLeaveToBottom 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
}
.lqd-stack-effect-fadeScale.lqd-stack-moving-down .lqd-stack-row-leaving {
  -webkit-animation: lqdStackRowFadeScaleLeave 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
  animation: lqdStackRowFadeScaleLeave 1.2s cubic-bezier(0.23, 1, 0.32, 1) both
    alternate;
}
.lqd-stack-effect-slideOver.lqd-stack-moving-up .lqd-stack-row-leaving {
  -webkit-animation: lqdStackRowSlideOverLeaveToBottom 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
  animation: lqdStackRowSlideOverLeaveToBottom 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
}
.lqd-stack-effect-slideOver.lqd-stack-moving-down .lqd-stack-row-leaving {
  -webkit-animation: lqdStackRowSlideOverLeaveToTop 1.2s
    cubic-bezier(0.23, 1, 0.32, 1) both alternate;
  animation: lqdStackRowSlideOverLeaveToTop 1.2s cubic-bezier(0.23, 1, 0.32, 1)
    both alternate;
}

.lqd-stack-extra {
  display: block;
}

.lqd-stack-extra-content {
  position: fixed;
  bottom: 40px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: opacity, visibility, color;
  transition-property: opacity, visibility, color;
  -webkit-transition-duration: 0.65s;
  transition-duration: 0.65s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.lqd-stack-extra-content > * {
  margin: 0;
  color: inherit;
}
.lqd-stack-extra-content a {
  color: inherit;
}
.pp-enabled .lqd-stack-extra-content {
  opacity: 1;
  visibility: visible;
}
.lqd-stack-extra-content .social-icon a {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.lqd-stack-extra-content .social-icon a:hover {
  opacity: 0.75;
}

.lqd-stack-extra-content-bottom-left {
  left: 50px;
}

.lqd-stack-extra-content-bottom-right {
  right: 50px;
}

.lqd-stack-initiated .main-header:not(.header-side) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.lqd-stack-initiated.admin-bar .main-header {
  top: 32px;
}
.lqd-stack-initiated .lqd-stack-page-number,
.lqd-stack-initiated .lqd-stack-prevnext-wrap {
  display: block;
}

.lqd-stack-has-nav .lqd-stack-prevnext-button {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  -webkit-transform: none;
  transform: none;
}
.lqd-stack-has-nav .lqd-stack-prevnext-wrap {
  position: absolute;
  bottom: 40px;
  right: 50px;
  z-index: 10;
}
.lqd-stack-has-nav.lqd-stack-has-content-bottom-right .lqd-stack-prevnext-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  bottom: auto;
  top: 50%;
  right: auto;
  left: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.lqd-stack-has-nav.lqd-stack-has-content-bottom-right
  .lqd-stack-prevnext-button {
  margin: 0;
}
.lqd-stack-has-nav.lqd-stack-has-content-bottom-right .lqd-stack-prev-button {
  margin-bottom: 5px;
}
.lqd-stack-has-nav.lqd-stack-has-content-bottom-right .lqd-stack-next-button {
  margin-top: 5px;
}
.lqd-stack-has-nav.lqd-stack-has-content-bottom-right.lqd-stack-buttons-style-1
  .lqd-stack-prevnext-button {
  margin: 0;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.lqd-stack-has-nav.lqd-stack-has-content-bottom-right.lqd-stack-buttons-style-1
  .lqd-stack-prev-button {
  -webkit-transform: rotate(90deg) translateX(-50%);
  transform: rotate(90deg) translateX(-50%);
}
.lqd-stack-has-nav.lqd-stack-has-content-bottom-right.lqd-stack-buttons-style-1
  .lqd-stack-prev-button
  .lqd-stack-button-labbel {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.lqd-stack-has-nav.lqd-stack-has-content-bottom-right.lqd-stack-buttons-style-1
  .lqd-stack-next-button {
  -webkit-transform: rotate(90deg) translateX(50%);
  transform: rotate(90deg) translateX(50%);
}
.lqd-stack-has-nav.lqd-stack-has-content-bottom-right.lqd-stack-buttons-style-1
  .lqd-stack-next-button
  .lqd-stack-button-labbel {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.lqd-stack-has-nav.lqd-stack-has-content-bottom-right.lqd-stack-buttons-style-2
  .lqd-stack-prev-button {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lqd-stack-has-nav.lqd-stack-has-content-bottom-right.lqd-stack-buttons-style-2
  .lqd-stack-next-button {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.lqd-stack-moving .lqd-stack-prevnext-button,
.lqd-stack-moving #pp-nav a {
  pointer-events: none;
}
.lqd-stack-moving .lqd-stack-page-number-current {
  -webkit-animation: lqdStackNumberActive 0.45s
    cubic-bezier(0.39, 0.575, 0.565, 1) both alternate;
  animation: lqdStackNumberActive 0.45s cubic-bezier(0.39, 0.575, 0.565, 1) both
    alternate;
}
.lqd-stack-moving .lqd-stack-page-number-passed {
  -webkit-animation: lqdStackNumberPassed 0.45s
    cubic-bezier(0.39, 0.575, 0.565, 1) both alternate;
  animation: lqdStackNumberPassed 0.45s cubic-bezier(0.39, 0.575, 0.565, 1) both
    alternate;
}
.lqd-stack-moving.lqd-stack-moving-up .lqd-stack-page-number-current {
  -webkit-animation-name: lqdStackNumberActiveUp;
  animation-name: lqdStackNumberActiveUp;
}
.lqd-stack-moving.lqd-stack-moving-up .lqd-stack-page-number-passed {
  -webkit-animation-name: lqdStackNumberPassedUp;
  animation-name: lqdStackNumberPassedUp;
}

.lqd-stack-active-row-dark #pp-nav a {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.3);
}
.lqd-stack-active-row-dark #pp-nav li:hover a,
.lqd-stack-active-row-dark #pp-nav a.active {
  background-color: #fff;
}
.lqd-stack-active-row-dark #pp-nav li {
  color: #fff;
}
.lqd-stack-active-row-dark .lqd-stack-prevnext-button,
.lqd-stack-active-row-dark .lqd-stack-extra-content,
.lqd-stack-active-row-dark .lqd-stack-page-number {
  color: #fff;
}

.lqd-stack-moving-up #pp-nav li,
.lqd-stack-moving-up #pp-nav a {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.lqd-stack-moving-up .lqd-stack-prevnext-button,
.lqd-stack-moving-up .lqd-stack-extra-content,
.lqd-stack-moving-up .lqd-stack-page-number {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.lqd-stack-moving-up.lqd-stack-has-content-bottom-right
  .lqd-stack-prevnext-button {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.lqd-stack-footer-active .lqd-stack-page-number,
.lqd-stack-footer-active .lqd-stack-extra-content {
  opacity: 0;
  visibility: hidden;
}
.lqd-stack-footer-active section.vc_row:last-of-type {
  left: auto !important;
  visibility: visible !important;
  pointer-events: auto !important;
}