body {
  //   background-image: url("https://static.mservice.io/cashback/images/bg.jpg");
  //   background-attachment: fixed;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  &.ios{
    .img-ios{
      display: block;
    }
    .img-android{
      display: none;
    }
  }
}

.img-ios{
  display: none;
}



.navbar {
  padding: 15px 15px;
  transition: all 0.2s linear;
  @include media-breakpoint-up(sm){
    &.navbar-kyc.is-fixed {
      background: $pinklight;
      padding: 5px 15px;
      box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
    }
  }
}
.toichon .navbar{
  position: absolute !important;
}


.navbar-light .navbar-toggler{
}


.navbar.scrolled, .navbar.navbar-toggled-show{
  background: rgba(0,0,0,0.8);
}

.navbar {
  // background: rgba(#fff, 0.8);
  background: transparent;
  // backdrop-filter: saturate(180%) blur(20px);
}

.navbar-light .navbar-nav .nav-link{
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  // text-transform: uppercase;
  display: inline-block;
  &:hover{
    color: white;
  }
  &.active{
    color: white;
  }
}

@include media-breakpoint-down(md){
  .navbar-collapse{
    border-top: 1px solid #ffffff1c;
    margin-top: 13px;
  }
  
}



.navbar-light .navbar-nav .nav-link {
  position: relative;
  &:after {
    background: white;
    content: "";
    display: block;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 50%;
    margin-left: 25%;
    height: 2px;
  }
  &:hover,
  &.active {
    &:after {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}


.people-item {
}



.people-item-link {
  position: relative;
  display: block;
  margin-bottom: 40px;
}

.people-item-arrow {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 24px solid white;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease-in;
  opacity: 0;
}



.story-container {
  padding: 20px;
  background: white;
  border-radius: 10px;
  transform: translate3d(0, 10px, 0);
  opacity: 0;
  transition: all 0.3s ease-in;
}

.tab-pane.show {
  .story-container {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.people-tab {
  margin-top: -10px;
}

.people-note {
  background: #fff9e5;
  border-radius: 6px;
  padding: 8px 15px;
  color: gray("900");
  font-size: 13px;
  position: relative;
}

.people-note-icon {
  color: rgba(0, 0, 0, 0.67);
  position: absolute;
  font-size: 32px;
  top: -5px;
  left: -4px;
}

.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  width: 600px;
  height: 400px;
  &.is-open {
    .book-left {
    }
  }
}

.book-left {
  width: 300px;
  height: 400px;
  background: gray("400");
}

.book-right {
  width: 300px;
  height: 400px;
  background: gray("300");
}

.ddp {
  width: 460px;
  //   width: 100%;
  //   height: 700px;
  position: relative;

  .ddp-tag:nth-child(1) {
    top: 40px;
    left: 30px;
    background: #e7e7f4;
  }

  .ddp-tag:nth-child(2) {
    top: 40px;
    right: 30px;
    background: #fef2ec;
  }
  .ddp-tag:nth-child(3) {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #fff0de;
  }
  .ddp-tag:nth-child(4) {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ffded9;
  }

  .ddp-tag:nth-child(5) {
    bottom: 40px;
    left: 30px;
    background: #d7edf0;
  }

  .ddp-tag:nth-child(6) {
    bottom: 40px;
    right: 30px;
    background: #d7f0ea;
  }
}

.ddp-tag {
  position: absolute;
  border-radius: 10px;
  //   @extend .shadow-sm;

  animation: movebounce 2.1s linear infinite;
  &:nth-child(2) {
    animation: movebounce 3s linear infinite;
    animation-delay: 0.1s;
  }
  &:nth-child(3) {
    animation: movebounce 2.3s linear infinite;
    animation-delay: 0.2s;
  }
  &:nth-child(4) {
    animation: movebounce 2.1s linear infinite;
    animation-delay: 0.3s;
  }
  &:nth-child(5) {
    animation: movebounce 3.5s linear infinite;
    animation-delay: 0.4s;
  }
  &:nth-child(6) {
    animation: movebounce 2s linear infinite;
    animation-delay: 0.2s;
  }
}
@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.ddp-tag-item {
  display: block;
  text-align: center;
  padding: 7px 15px;
  color: gray("900");
  font-size: 15px;
  font-family: "Sriracha", cursive;
  font-weight: 300;
}

.ddp-main {
}

.story-context {
  padding-top: 30px;
}

.ml6 {
  position: relative;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;

  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
}
