.hero-kyc {
  padding-top: 7rem;
  @include media-breakpoint-down(sm){
    padding-top: 70px;
   .container{
    padding-left: 30px;
    padding-right: 30px;
   }
  }
}
.kyc-row-dash {
  border-right: 1px dashed $pinklight;
  @include media-breakpoint-down(sm) {
    border-right: none;
  }
}

.kyc-tintuc {
  @include hover-focus() {
    .kyc-tintuc-title {
      color: theme-color("primary");
    }
  }
}

.navbar-kyc {
  @include media-breakpoint-down(md) {
    position: absolute !important;
    box-shadow: none !important;
  }
}

// .navbar-dark.navbar-kyc {
//   .navbar-nav {
//     .nav-link {
//       color: gray("900");
//     }
//     .nav-link.active , .nav-link:hover{
//       color: $momo;
//     }
//     .nav-link:after {
//       background: $momo;
//     }
//   }
//   &.is-fixed {
//     .navbar-nav {
//       .nav-link {
//       }
//       .nav-link.active {
//       }
//       .nav-link:after {
//       }
//     }
//   }
//   &.navbar-toggled-show{
//     background: $pinklight;
//     @extend .shadow;
//   }
// }


@include media-breakpoint-up(lg) {
}

.kyc-hr-dash{
  border-top : 1px dashed $pinklight;
  height: 0;
  width: 100%;
}

.kyc-accordion{
  .card{
    >[data-toggle="collapse"]{
        &[aria-expanded="true"]{
          
            .icon{
                transform: rotateZ(90deg);
                [fill]:not([fill="none"]){
                    fill: $primary;
                }
            }
        }
    }
  }
}


.xacthuc-quote__box{
  padding: 30px 30px 30px;
  border-radius: 0.5rem;
  width: 100%;
  @include media-breakpoint-down(sm){
    padding: 20px 20px 15px;
  }
}

.xacthuc-quote__content{
  font-size: 1.1rem;
    line-height: 1.7rem;
    font-style: normal;
    color: #707070;
}

.bg-kyc{
  background-color: #c70d7f;
}

.external-btn{
  font-size: 14px;
  color: gray("900");
  padding: 5px 15px;
  border-radius: 50px;
  background-color: gray("200");

  @include hover-focus(){
    background-color: gray("300");
    color: gray("900");
  }

}