.newsletter {
  // padding: 10px 0 10px;
  margin-bottom: 30px;
  margin-top: 60px;
}

.newsletter-img {
  width: 100px;
  position: relative;
  height: 50px;
  img {
    position: absolute;
    bottom: -17px;
    left: 0;
  }
}

.newsletter-content {
  max-width: 550px;
  line-height: 1.7;
  color: gray("700");
}

.newsletter-box {
  background: #ffffff;
  border: 1px dashed gray("400");
  box-sizing: border-box;
  border-radius: 80px;
  padding: 15px 55px 15px;
}

@include media-breakpoint-down(sm) {
  .newsletter-img {
    display: block;
    margin: 0 auto 15px;
  }
  .newsletter {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .newsletter-box {
    background: #ffffff;
    border: 1px dashed gray("400");
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 10px;
  }
}
