.hero-single {
  color: white;
  // padding-top: 100px;
  // min-height: 802px;
  position: relative;
  background: transparent;
}
.hero-single-content {
  padding: 90px 0 0px;
}

#particles-js,
#particles-js2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  z-index: -2;
  background: $momo-gradient;
  width: 100%;
  height: 100%;
}

#particles-js canvas {
  // height: 1300px!important;
}

.hero-people {
}

.hero-toichon {
  .divider {
    top: auto;
    position: absolute;
    bottom: -1px;
    z-index: 9;
  }
  .blob-4 {
  }
  .blob-toichonmomo {
    right: -10vh;
    top: auto;
    bottom: -3vw;
  }
}

.font-weight-black {
  font-weight: 800;
}

.blob {
  &.blob-toichonmomo {
    transform: scale(0.8);
    mask-image: url("../img/blobs/blob-toichonmomo.svg");
  }
}

.hero-section {
  padding-top: 80px;
  padding-bottom: 60px;
}

@include media-breakpoint-down(sm) {
  .hero-section {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.testi-col {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

@mixin text-row($num, $height) {
  max-height: $height * 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}

.testi-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.testi-img {
  position: absolute;
  top: 25.5%;
  left: 4%;
  right: 4%;
  bottom: 4%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  background-color: white;
}

.testi-quote {
  position: absolute;
  top: 4%;
  left: 41%;
  right: 4%;
  padding: 5px 8px;
  text-align: left;
  line-height: 16px;
  bottom: auto;
  background-color: white;
  border-radius: 7px;
  font-size: 13px;
}
.testi-quote-txt {
  @include text-row(3, 48);
}
.embed-responsive-testi {
  // &::before {
  //   padding-top: percentage(20/10);
  // }
}

@include media-breakpoint-down(md) {
  .tab-content {
    overflow-x: hidden;
  }
}

@media (max-width: 321px) {
  .nav-tabs {
    justify-content: flex-start !important;
  }
  .nav-tabs .nav-link {
    white-space: nowrap;
  }
}

.testi-item {
  // border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #f361a0;
  &:before {
    padding-top: 130%;
  }
}

.testi-author {
  padding: 15px 15px 15px;
  margin-bottom: 0;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // margin-top: 15px;
  // margin-bottom: 30px;
}

.divider.divider-top {
  bottom: 2px;
}

/* 
.testi-col:nth-child(1) .testi-item,
.testi-col:nth-child(9) .testi-item,
.testi-col:nth-child(17) .testi-item {
  transform: rotate(1deg);
}

.testi-col:nth-child(2) .testi-item,
.testi-col:nth-child(10) .testi-item,
.testi-col:nth-child(18) .testi-item {
  transform: rotate(-1.25deg);
}

.testi-col:nth-child(3) .testi-item,
.testi-col:nth-child(11) .testi-item,
.testi-col:nth-child(19) .testi-item {
  transform: rotate(2deg);
}

.testi-col:nth-child(4) .testi-item,
.testi-col:nth-child(12) .testi-item,
.testi-col:nth-child(20) .testi-item {
  transform: rotate(-0.5deg);
}

.testi-col:nth-child(5) .testi-item,
.testi-col:nth-child(13) .testi-item {
  transform: rotate(-2deg);
}

.testi-col:nth-child(6) .testi-item,
.testi-col:nth-child(14) .testi-item {
  transform: rotate(0.5deg);
}

.testi-col:nth-child(7) .testi-item,
.testi-col:nth-child(15)  .testi-item{
  transform: rotate(-1.25deg);
}

.testi-col:nth-child(8) .testi-item,
.testi-col:nth-child(16) .testi-item {
  transform: rotate(1deg);
}
 */
.bg-gray {
  background: gray("500");
}

#faq-accordion {
  color: white;
  .card {
    border-color: rgba(255, 255, 255, 0.5);
    background: transparent;
    h6 {
      color: rgba(255, 255, 255, 0.95);
    }
  }
  ul li {
    margin-bottom: 10px;
  }
}

.faq-container-scroll {
  //  height: 500px;
  //  overflow: auto;
  //  overflow-x: hidden;
}

.embed-responsive-hd1 {
  padding-top: percentage(428/750);
  overflow: visible;
  img {
    border-radius: 10px !important;
  }
}

.embed-responsive-hd2 {
  padding-top: percentage(350/285);
  overflow: visible;
}

.text-tiny {
  font-size: 11px;
}

@include media-breakpoint-down(sm) {
  .nav-tabs {
    position: sticky;
    top: 0;
    // background: #eeeeee !important;
    background: #eeeeee !important;
    z-index: 9;
    left: 0;
    right: 0;
  }
}

.modal-success-body {
  max-width: 400px;
  margin: 0 auto;
  background: gray("100");
  padding: 70px 20px 110px;
  margin-bottom: 60px;
  margin-top: 70px;
  border-radius: 20px;
  position: relative;
  .img1 {
    position: absolute;
    left: 50%;
    margin-left: -79px;
    top: -100px;
  }
  .img2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -80px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 80px;
  }
}

.nav-tabs {
  .nav-link {
    margin-right: $spacer * 0.8;
    margin-left: $spacer * 0.8;
    white-space: nowrap;
  }
}

@include media-breakpoint-up(md) {
  .nav-tabs {
    &.lead {
      .nav-link {
        margin-right: $spacer * 1.5;
        margin-left: $spacer * 1.5;
      }
    }
  }
}

.txt-momo-hot {
  color: #e81f76;
}

.toichon-count {
  margin: 0 auto;
  width: 90px;
  background: white;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  @include media-breakpoint-down(sm){
    width: 75px;
    background: white;
    height: 75px;
  }
}

.toichon-countdown-item {
  padding: 13px 12px;
  margin: 0 8px;
  position: relative;
}

.add-countdown-time {
  .toichon-countdown-item:not(:last-child) {
  
    &:after {
      content: ":";
      position: absolute;
      font-size: 20px;
      display: block;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.dash-dot{
  height: 0px;
  border-bottom: 1px dashed gray("400");
  width: 100%;
}

.toichon-count-dash{
  border-right: 1px dashed gray("400");
  @include media-breakpoint-down(sm){
   border-right: none;
  }
}


 .mouse-wrapper {
  margin: 0 auto;
  display: block;
  // width: 28px;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 15px;
  text-align: center;
  @include media-breakpoint-down(md){
    position: relative;
    bottom: -10px;
  }
}

 .mouse {
  width: 28px;
  height: 42px;
  border: 2px solid gray("900");
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  margin: 0 auto;
}

.mouse .mouse-scroll {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: gray("900");
  position: relative;
  top: 3px;
  left: 10px;
  -webkit-animation: scrolls 1.3s ease-out infinite
}

@-webkit-keyframes scrolls {
  0% {
      top: 10px;
      opacity: 1;
      height: 4px
  }

  95% {
      top: 18px;
      opacity: 0;
      height: 10px
  }

  100% {
      top: 8px;
      opacity: 1;
      height: 4px
  }
}
