.hero-visao {
  padding-top: 10rem;
  @include media-breakpoint-down(sm){
    padding-top: 7rem;
  }
}

.slide-dash2 {
  width: 100px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  height: 3px;
  margin-bottom: 30px;
}

.motto-txt {
  span{
    display: inline-block;
    padding: 13px 30px 6px;
    background: $momo;
    border-radius: 40px;
    color: white;
    font-weight: 800;
    @extend .txt-shadow;
  }
}

.bg-gradient2 {
  background: linear-gradient(90deg, #FF6B65 0%, #FF317B 100%) !important;
  &.reverse{
    background: linear-gradient(to right, #FF6B65 0%, #FF317B 100%) !important;
  }
}

.food-tab-item {
  width: 105px;
  cursor: pointer;
}

.food-tab {
  justify-content: center;
  .nav-item {
  }
}

.food-tab-link {
  display: block;
  margin-bottom: 15px;
}

.food-tab-name {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: gray("700");
}
.nav-item {
  .active {
    .food-tab-name {
      color: $momo;
    }
    .food-tab-icon {
      background: linear-gradient(
        180deg,
        rgba(255, 232, 246, 1) 0%,
        #fff4fb  100%
      );
    }
  }
}


.why-play-icon{
  background: rgba(0,0,0,0.5);
  .icon{
    height: 2rem !important;
  }
  @include hover-focus(){
    background: rgba(0,0,0,0.6);
  }
}

@include media-breakpoint-down(sm){
  .fancybox-slide--video{
    padding: 0;
  }
}

.food-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.food-tab-icon {
  display: block;
  margin: 0 auto 15px;
  padding: 5px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  background: rgb(224, 224, 224);
  background: linear-gradient(
    180deg,
    #f1f1f1  0%,
    #f9f9f9  100%
  );
  padding: 15px;
  img{
    width: 100%;
  }
}


@include media-breakpoint-down(sm){
  .food-tab-item {
    width: 70px;
    cursor: pointer;
  }

  .food-tab-name {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: gray("700");
  }

  .food-tab-icon {
    width: 40px;
    height: 40px;
    padding: 5px
  }
}

@media (max-width: 321px) {
  .food-tab-item {
    width: 70px;
    cursor: pointer;
  }
}