{% set header_title = 'Gaming Template' %}

{% extends 'layouts/layout.html' %}

{% block content %}

<div data-overlay class="o-hidden">
    <section class="py-4">
        <div data-aos="fade-up" data-aos-delay="200">
            <img src="assets/img/brand/title-heading.png" class="img-fluid mx-auto d-block" alt="">
        </div>
    </section>

    <section id="bb-custom-grid" class="story-context" data-aos="fade-up" data-aos-delay="400">
        <div class="container">
            <!-- Swiper -->
            <div class="swiper-container swiper-people">
                <div class="swiper-wrapper nav">

                    {% set people = [
                            {
                                "image" : "assets/img/brand/people1.png",
                                "link" : "people1",
                                "name" : "Thủy",
                                "age" : "Nữ 27 tuổi"
                            },
                            {
                                "image" : "assets/img/brand/people2.png",
                                "link" : "people2",
                                "name" : "Đăng",
                                "age" : "Nam 27 tuổi"
                            },      
                            {
                                "image" : "assets/img/brand/people3.png",
                                "link" : "people3",
                                "name" : "Hiếu",
                                "age" : "Nữ 27 tuổi"
                            },
                            {
                                "image" : "assets/img/brand/people4.png",
                                "link" : "people4",
                                "name" : "Hạnh",
                                "age" : "Nữ 27 tuổi"
                            },
                            {
                                "image" : "assets/img/brand/people5.png",
                                "link" : "people5",
                                "name" : "Sen",
                                "age" : "Nữ 27 tuổi"
                            },
                            {
                                "image" : "assets/img/brand/people6.png",
                                "link" : "people6",
                                "name" : "Nguyên",
                                "age" : "Nữ 27 tuổi"
                            }
                        ] 
                    %}

                    {% for item in people %}
                    <div class="swiper-slide {{ 'active des' | safe if loop.index == 1 }} " data-toggle="tab"
                        href="#{{item.link}}">
                        <div class="people-item ">

                            <div class="people-item-link  ">
                                <div class="people-item-ani">
                                    <img src="{{item.image}}" class="img-fluid" alt="">
                                    <div class="people-item-name">
                                        {{item.name}} - <span> {{item.age}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="people-item-arrow">

                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    
                </div>
                <!-- Add Pagination -->
            </div>

            <!-- Tab panes -->
            <div class="tab-content people-tab">
                {% for item in people %}
                <div class="tab-pane container  {{ 'fade active show' | safe if loop.index == 1 }} {{ 'fade' | safe if loop.index != 1 }} "
                    id="{{item.link}}">

                    <div class="story-container">

                        <div class="row no-gutters">
                            <div class="col-12 col-md-auto">

                                <div class="ddp">

                                    <div class="ddp-tag">
                                        <a href="" class="ddp-tag-item">
                                            Chuyển <br> nhận tiền
                                        </a>
                                    </div>
                                    <div class="ddp-tag">
                                        <a href="" class="ddp-tag-item">
                                            Mua vé <br>xem phim
                                        </a>
                                    </div>

                                    <div class="ddp-tag">
                                        <a href="" class="ddp-tag-item">
                                            Chuyển <br> nhận tiền
                                        </a>
                                    </div>

                                    <div class="ddp-tag">
                                        <a href="" class="ddp-tag-item">
                                            Mua vé <br>xem phim
                                        </a>
                                    </div>

                                    <div class="ddp-tag">
                                        <a href="" class="ddp-tag-item">
                                            Mua vé <br>xem phim
                                        </a>
                                    </div>

                                    <div class="ddp-tag">
                                        <a href="" class="ddp-tag-item">
                                            Mua vé <br>xem phim
                                        </a>
                                    </div>

                                    <div class="ddp-main">
                                        <img src="assets/img/brand/girl-people1.png" class="img-fluid mx-auto d-block"
                                            alt="">
                                    </div>

                                </div>

                            </div>
                            <div class="col-12 col-md">
                                <h4 class="text-pink font-weight-bold">Thuỳ - Nữ 27 tuổi</h4>

                                <div class="people-note">
                                    <span class="people-note-icon">"</span>
                                    Ngày hôm nay nhận tháng lương đầu tiên,
                                    và đã chuyển tiền ngay cho ba mẹ, có thể
                                    tự tin nói với ba mẹ rằng “Con đã có thể tự
                                    lo cho mình và lo cho cả ba mẹ” {{item.age}}
                                </div>

                                <div class="position-relative mt-4 bb-bookblock-container">
                                    <a href="#" class="bb-custom-icon left bb-nav-prev">
                                        <img class=" bg-primary" src="assets/img/icons/theme/code/left-circle.svg"
                                            alt="Icon" data-inject-svg />
                                    </a>
                                    <a href="#" class="bb-custom-icon right bb-nav-next">
                                        <img class=" bg-primary" src="assets/img/icons/theme/code/right-circle.svg"
                                            alt="Icon" data-inject-svg />
                                    </a>

                                    <div class="bb-custom-wrapper shadow">

                                        <div class="bb-bookblock">


                                            {% for item in range(0,4) %}
                                            <div class="bb-item">
                                                <div class="bb-item-bg"
                                                    style="background-image: url('assets/img/brand/book-cover.png')">
                                                    <div class="bb-custom-side">
                                                        <div class="date">Ngày 12/09/2019 - {{loop.index}}</div>
                                                        <div class="title">Tự nhiên tìm được cái app chuyển tiền nhanh
                                                            quá!</div>
                                                        <div class="txt">Ngày hôm nay nhận tháng lương đầu tiên,
                                                            và đã chuyển tiền ngay cho ba mẹ, có thể
                                                            tự tin nói với ba mẹ rằng “Con đã có thể tự
                                                            lo cho mình và lo cho cả ba mẹ”
                                                        </div>

                                                        <div class="hash">
                                                            <a href="">#chuyentien</a> <a href="">#momo</a> <a
                                                                href="">#quetMoMo</a>
                                                        </div>

                                                    </div>
                                                    <div class="bb-custom-side">
                                                        <div class="date">Ngày 12/09/2019</div>
                                                        <div class="title">Tự nhiên tìm được cái app chuyển tiền nhanh
                                                            quá!</div>
                                                        <div class="txt">Ngày hôm nay nhận tháng lương đầu tiên,
                                                            và đã chuyển tiền ngay cho ba mẹ, có thể
                                                            tự tin nói với ba mẹ rằng “Con đã có thể tự
                                                            lo cho mình và lo cho cả ba mẹ”
                                                        </div>

                                                        <div class="hash">
                                                            <a href="">#chuyentien</a> <a href="">#momo</a> <a
                                                                href="">#quetMoMo</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            {% endfor %}

                                        </div>





                                    </div>
                                </div>

                                <div class="mt-3">
                                    <img src="assets/img/brand/pen-stock.png" class="img-fluid d-block mx-auto"
                                        width="300" alt="">
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
                {% endfor %}
            </div>

        </div>
    </section>
</div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">

</script>

{% endblock %}