{% set header_title = 'Gaming Template' %}

{% extends 'layouts/layout.html' %}

{% block content %}
    <style>
        .character-container{
            transform: translate3d(0,0,0);
        }
        body{
            background: #676767
        }
    </style>
    <section>
            {% include "shared/character.html" %}

</section>


{% endblock %}

{% block javascript %}

<script type="text/javascript">

</script>

{% endblock %}