{% set header_title = 'Gaming Template' %}

{% extends 'layouts/layout.html' %}

{% block body %}

<body data-smooth-scroll-offset="20" data-offset="180" data-spy="scroll" data-target=".menu-kyc">
    {% endblock %}

    {% block nav %}

    <div class="navbar-container" id="">
        <nav class="navbar navbar-expand-lg navbar-light  navbar-kyc fixed-top">
            <div class="container">

                <!-- Brand Logo -->
                <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="namsinhvien.html">
                    <img alt="MoMo" src="assets/img/momo-white.png" width="44" style="">
                </a>

                <div class="d-flex align-items-center order-lg-3">

                    <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                        data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg
                            src="assets/img/icons/interface/icon-menu-white.svg">
                        <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg
                            src="assets/img/icons/interface/icon-x-white.svg">
                    </button>
                </div>


                <!-- A group of nav dropdowns --->
                <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end menu-kyc"
                    id="navigation-menu">
                    <ul class="navbar-nav my-3 my-lg-0">


                        <li class="nav-item ">
                            <div class="">
                                <a class=" nav-link nav-item active " href="#xacthuctaikhoan" data-smooth-scroll>Xác
                                    thực tài khoản là gì?</a>
                            </div>
                        </li>

                        <li class="nav-item ">
                            <div class="">
                                <a class=" nav-link nav-item  " href="#loiich" data-smooth-scroll>Lợi ích khi xác
                                    thực</a>
                            </div>
                        </li>

                        <li class="nav-item ">
                            <div class="">
                                <a class=" nav-link nav-item  " href="#huongdan" data-smooth-scroll>Hướng dẫn xác
                                    thực</a>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <div class="">
                                <a class=" nav-link nav-item  " href="#tintuc" data-smooth-scroll>Tin tức</a>
                            </div>
                        </li>

                        <li class="nav-item ">
                            <div class="">
                                <a class=" nav-link nav-item  " href="#hoidap" data-smooth-scroll>Hỏi đáp</a>
                            </div>
                        </li>

                    </ul>
                    <!-- End of dropdown group -->

                </div>
                <!-- End navbar collapse -->

            </div>
            <!-- End container -->

        </nav>
        <!-- End nav -->
    </div>
    <!-- End navbar container-->


    <!-- End navbar container-->
    {% endblock %}

    {% block content %}



    <section class=" o-hidden bg-kyc hero-kyc pb-0">
        <div class="container">
            <div
                class="row no-gutters align-items-center justify-content-center  text-center text-lg-left pb-0 pb-md-5">
                <div class=" col-10 mb-3 mb-md-0 col-md-6 col-lg-5 order-2 order-md-1 ">
                    <div data-aos="fade-right">
                        <img src="https://static.mservice.io/images/s/momo-upload-api-200601105256-637266055766759726.jpg"
                            class="img-fluid d-block mx-auto" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 order-1 order-md-2 " data-aos="fade-left" data-aos-delay="300">
                    <img src="https://static.mservice.io/images/s/momo-upload-api-200601105302-637266055826759719.jpg"
                        width="400" alt="Image" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>

        <div class="mouse-wrapper">
            <div class="text-nowrap text-white mb-1"> Đọc tiếp</div>
            <div class="mouse border-white">
                <div class="mouse-scroll bg-white"></div>
            </div>
        </div>


        <div class="divider divider-bottom bg-white mt-4 mt-md-5"></div>

    </section>

    <section class="bg-white " id="xacthuctaikhoan">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="h1 text-pink">Xác thực tài khoản là gì?</h3>
                </div>
                <div class="col-7 mb-3 mb-lg-4 " data-aos="fade-up" data-aos-delay="0">
                    <div class="text-center">
                        <img src="assets/img/kyc/img1.png" class="img-fluid mx-auto d-block" width="300" alt="">
                    </div>
                </div>

                <div class="col-md-10 col-lg-9">
                    <div class="lead text-dark">Theo thông tư 39/2014/TT-<strong>Ngân Hàng Nhà Nước</strong> quy định,
                        việc
                        sử dụng <strong class="text-pinkhot">Ví điện tử</strong> cần phải
                        gắn kết với tài khoản ngân hàng và xác thực tài khoản người dùng.</div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6  kyc-row-dash">
                    <div class="" data-aos="fade-up" data-aos-delay="0">
                        <img src="assets/img/kyc/img2.png" class="img-fluid mx-auto d-block" width="" alt="">
                    </div>
                    <div class="row no-gutters justify-content-center">
                        <div class="text-center col-lg-9">
                            Ví điện tử MoMo sẽ thu thập <u>thông tin cá nhân</u> và <u>hình ảnh 2 mặt</u> trên Chứng
                            minh
                            nhân dân/ Căn cước công dân (CMND/CCCD) của người dùng.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="" data-aos="fade-up" data-aos-delay="250">
                        <img src="assets/img/kyc/img3.png" class="img-fluid mx-auto d-block" width="" alt="">
                    </div>

                    <div class="row no-gutters justify-content-center">
                        <div class="text-center col-lg-9">
                            Đây là biện pháp được <strong class="text-pinkhot">yêu cầu bởi Ngân hàng Nhà nước</strong>
                            để
                            bảo vệ tài khoản MoMo, phòng chống kẻ gian đánh cắp tiền trong tài khoản cá nhân của bạn.

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="kyc-hr-dash"></div>
            </div>
        </div>
    </div>

    <section class="bg-white pb-0" id="loiich">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="h1 text-pink">Những lợi ích khi xác thực tài khoản</h3>
                </div>


                <div class="col-md-10 col-lg-9">
                    <div class="lead text-dark">
                        Không chỉ đảm bảo ví được an toàn, bảo mật tối đa, xác thực tài khoản còn mang đến người dùng
                        trải
                        nghiệm và các lợi ích bất ngờ.

                    </div>
                </div>
            </div>
        </div>


    </section>
    <section class="o-hidden py-4" id="">
        <div class="container">
            <div class="row align-items-center justify-content-around ">
                <div class="col-md-7 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-2 pl-lg-5 pl-xl-0">
                    <div>
                        <h2 class="h3 mb-3 mb-lg-4">An toàn bảo mật</h2>

                        <div class="">
                            <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="100">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon"
                                            class="m-2 icon icon-xs bg-success" data-inject-svg>
                                    </div>
                                    <h6 class="mb-0 ml-3">Đảm bảo ví chính chủ</h6>
                                </div>
                            </div>
                            <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="200">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon"
                                            class="m-2 icon icon-xs bg-success" data-inject-svg>
                                    </div>
                                    <h6 class="mb-0 ml-3">Khi có vấn đề xảy ra, giúp người dùng bảo vệ tài khoản tốt hơn
                                    </h6>
                                </div>
                            </div>

                            <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="300">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon"
                                            class="m-2 icon icon-xs bg-success" data-inject-svg>
                                    </div>
                                    <h6 class="mb-0 ml-3"> Đảm bảo độ an toàn về giao dịch giữa các người dùng</h6>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-6 col-md-5 col-xl-5 order-lg-1 " data-aos="fade-right">
                    <img src="assets/img/kyc/img4.png" alt="Image" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>
    </section>



    <section class="o-hidden py-4">
        <div class="container">
            <div class="row align-items-center justify-content-around ">
                <div class="col-md-7 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-1 pl-lg-5 pl-xl-0">
                    <div>
                        <h2 class="h3 mb-3 mb-lg-4">Nhận được nhiều ưu đãi hơn
                        </h2>

                        <div class="">
                            <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="100">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon"
                                            class="m-2 icon icon-xs bg-success" data-inject-svg>
                                    </div>
                                    <h6 class="mb-0 ml-3">Đảm bảo ví chính chủ</h6>
                                </div>
                            </div>
                            <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="200">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon"
                                            class="m-2 icon icon-xs bg-success" data-inject-svg>
                                    </div>
                                    <h6 class="mb-0 ml-3">Khi có vấn đề xảy ra, giúp người dùng bảo vệ tài khoản tốt hơn
                                    </h6>
                                </div>
                            </div>

                            <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="300">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon"
                                            class="m-2 icon icon-xs bg-success" data-inject-svg>
                                    </div>
                                    <h6 class="mb-0 ml-3"> Đảm bảo độ an toàn về giao dịch giữa các người dùng</h6>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-6 col-md-5 col-xl-5 order-lg-2" data-aos="fade-left">
                    <img src="assets/img/kyc/img5.png" alt="Image" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>
    </section>



    <section class="o-hidden pt-4">
        <div class="container">
            <div class="row align-items-center justify-content-around ">
                <div class="col-md-7 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-2 pl-lg-5 pl-xl-0">
                    <div>
                        <h2 class="h3 mb-3 mb-lg-4">Hỗ trợ users tốt hơn trong các vấn đề
                            liên quan đến giao dịch
                        </h2>

                        <div class="">
                            <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="100">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon"
                                            class="m-2 icon icon-xs bg-success" data-inject-svg>
                                    </div>
                                    <h6 class="mb-0 ml-3">Đảm bảo ví chính chủ</h6>
                                </div>
                            </div>
                            <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="200">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon"
                                            class="m-2 icon icon-xs bg-success" data-inject-svg>
                                    </div>
                                    <h6 class="mb-0 ml-3">Khi có vấn đề xảy ra, giúp người dùng bảo vệ tài khoản tốt hơn
                                    </h6>
                                </div>
                            </div>

                            <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="300">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon"
                                            class="m-2 icon icon-xs bg-success" data-inject-svg>
                                    </div>
                                    <h6 class="mb-0 ml-3"> Đảm bảo độ an toàn về giao dịch giữa các người dùng</h6>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-6 col-md-5 col-xl-5 order-lg-1 " data-aos="fade-left">
                    <img src="assets/img/kyc/img6.png" alt="Image" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>
    </section>

    <section class="" style="background: #F7F7F7" id="tcbc">

        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="h2 text-pink">Chuyên gia nói</h3>
                </div>


                <div class="col-md-10 col-lg-9">
                    <div class="lead text-dark">
                        Đại diện Ngân hàng Nhà nước cùng các chuyên gia đã đưa ra nhiều ý kiến để xây dựng Thông tư 23,
                        đảm bảo hoạt động của Ví điện tử an toàn và thông suốt
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row justify-content-center">

                <div class="col-12 col-lg-5  d-flex">
                    <div class="xacthuc-quote__box box bg-white shadow mb-4 mb-lg-0">
                        <div class="xacthuc-quote">
                            <div class="xacthuc-quote__content">
                                “Thanh toán qua di động bùng nổ đặt ra yêu cầu cao hơn về bảo mật tài khoản. Định danh
                                khách
                                hàng ví điện tử là hoạt động bắt buộc.”
                            </div>

                            <div class="row no-gutters mt-3 align-items-center">
                                <div class="col-auto">

                                    <img src="assets/img/people/people1.png" alt="Ông Phạm Tiến Dũng" class="avatar">

                                </div>
                                <div class="col">
                                    <div class="pl-3">
                                        <h6 class="mb-0"> Ông Phạm Tiến Dũng</h6>
                                        <span class="meta mb-0 text-small">Vụ trưởng Vụ thanh toán (NHNN)</span>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-5 d-flex ">
                    <div class="xacthuc-quote__box box bg-white shadow">
                        <div class="xacthuc-quote">
                            <div class="xacthuc-quote__content">
                                “e-KYC sẽ là giải pháp cho cả ngành ngân hàng lẫn các dịch vụ trung gian thanh toán điện
                                tử trong tương lai.”
                            </div>

                            <div class="row no-gutters mt-3 align-items-center">
                                <div class="col-auto">

                                    <img src="assets/img/people/people2.png" alt="Ông Phạm Tiến Dũng" class="avatar">

                                </div>
                                <div class="col">
                                    <div class="pl-3">
                                        <h6 class="mb-0"> Ông Lương Lê Minh</h6>
                                        <span class="meta mb-0 text-small"> Đại học Luật Hà Nội
                                        </span>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>



            </div>
        </div>

    </section>

    <section class="" style="background: white" id="tcbc">

        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="h2 text-pink">Thông cáo báo chí</h3>
                </div>


                <div class="col-md-10 col-lg-9">
                    <div class="lead text-dark">
                        Get busy living or get busy dying
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                    <div class="card h-100 ">
                        <a href="#" class="d-block bg-gradient rounded-top">
                            <img class="card-img-top hover-fade-out" src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-200529161048-637263654484905488.jpg"
                                alt="blog.4.image">
                        </a>
                        <div class="card-body p-3">
                            <a href="#">
                                <h5>Tính năng mới: Thẻ trả trước trên Ví MoMo giải pháp tặng quà tối ưu cho doanh nghiệp</h5>
                            </a>
                            <p class="mb-0 text-small">
                                Ví MoMo trình làng tính năng mới: Thẻ quà tặng trả trước - Thay vì phát hành phiếu mua hàng, phiếu quà tặng truyền thống.
                            </p>
                        </div>
                        <div class="card-footer px-3 d-flex justify-content-between align-items-center">
                            <a href="#" class="external-btn"> <span class="opacity-50 font-weight-normal">Theo</span> Kinh tế & Tiêu dùng 
                                <svg style="width: 14px; height: 14px; vertical-align: -10%; opacity: 0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {% include "shared/huongdan.html" %}



    <section class="" style="background: #F7F7F7" id="tintuc">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="h1 text-pink">Tin tức liên quan</h3>
                </div>
            </div>
            <div class="row">
                {% for item in range(0,6) %}
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3 mb-md-4">

                    <div>
                        <a href="#" class="d-block kyc-tintuc ">
                            <div>
                                <img class="hover-fade-out img-fluid"
                                    src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-191118175153-637096963139100600.jpg"
                                    alt="blog.4.image">
                            </div>
                            <div class="mt-3">
                                <h3 class="h6 mb-0 kyc-tintuc-title ">Xác thực tài khoản MoMo: Tất tần tật lợi ích bạn
                                    nhận
                                    được</h3>
                            </div>

                            <div class="mt-2">
                                <div class="text-tiny text-black-50">
                                    12 giờ trước
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                {% endfor %}

            </div>
        </div>
        <!-- <div class="container">
            <div class="text-center">
                <a href="#" class="btn btn-outline-primary">
                    <div class="d-flex align-items-center">
                        <span>Xem thêm tin tức</span>
                        <img src="assets/img/icons/interface/icon-chevron-down.svg" alt="Icon" class="icon bg-primary"
                            data-inject-svg>
                    </div>
                </a>
            </div>
        </div> -->
    </section>





    <section class="" id="hoidap">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="h1 text-pink">Các câu hỏi thường gặp</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <div id="faq2-accordion" class="kyc-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-1" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 px-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">Xác thực tài khoản có cần chứng minh thư không ?</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-1" data-parent="#faq2-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum
                                    Melisandre. Vivamus ornare pharetra diam sit amet tincidunt. Eunuch sit amet
                                    pharetra
                                    odio. Vivamus in tempor ipsum, sit amet elementum neque. Sed faucibus posuere
                                    pharetra.
                                    In imperdiet eleifend dui a aliquet. Aliquam imperdiet Tyrion purus vitae rutrum.
                                    Donec
                                    eu commodo nunc. Mauris dignissim lectus massa, eget cursus quam mollis id. Eddard
                                    sit
                                    amet ex Jon nibh maximus cursus at vitae mi. Duis tincidunt
                                    aliquam mi sed sagittis.

                                </div>
                            </div>
                        </div>
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-2" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 px-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">Tại sao phải xác thực tài khoản</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-2" data-parent="#faq2-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    Eunuch nec dapibus ex. Aenean placerat, ex imp convallis dictum, ex nulla rutrum
                                    justo,
                                    Jon lobortis nisi ex at leo. Sed Tyrion aliquet sem vel pharetra. Vestibulum ante
                                    ipsum
                                    primis in faucibus Hodor luctus et ultrices posuere cubilia Curae; Class aptent
                                    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis
                                    a
                                    sapien quis quam auctor feugiat. Donec volutpat condimentum risus, eu iaculis nibh
                                    dapibus eu.

                                </div>
                            </div>
                        </div>
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-3" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 px-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">Xác thực tài khoản MoMo bằng passport được không ?</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-3" data-parent="#faq2-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    Volantisi fringilla, unuch eu sagittis sagittis, urna Loras luctus odio, vitae
                                    hendrerit
                                    massa dui ac est. Donec leo tortor, Tyrion et aliquet at, convallis imp mi. Vivamus
                                    turpis diam, ultrices et tempus quis, sollicitudin et risus. Pellentesque nec
                                    sapien imp dolor condimentum condimentum ut sed neque. Integer efficitur accumsan
                                    risus,
                                    vitae posuere massa aliquam at.

                                </div>
                            </div>
                        </div>
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-4" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 px-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">Ngân hàng nào có xác thực tài khoản</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-4" data-parent="#faq2-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    Khaleesi ornare pharetra diam sit amet tincidunt. Eunuch sit amet pharetra odio.
                                    Vivamus
                                    in tempor ipsum, sit amet elementum neque. Sed faucibus posuere pharetra. In
                                    imperdiet
                                    eleifend dui a aliquet. Aliquam imperdiet Tyrion purus vitae rutrum. Donec
                                    eu commodo nunc. Vivamus Melisandre Jon lorem eget bibendum. Sed tincidunt sed enim
                                    at
                                    dignissim. Mauris erat diam, lacinia eget efficitur et, iaculis sed augue.

                                </div>
                            </div>
                        </div>
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-5" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 px-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">Các liên hệ với MoMo</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-5" data-parent="#faq2-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    Brienne ac maximus Loras, eu placerat odio. Etiam vestibulum Loras et sollicitudin
                                    pellentesque. Mauris sed Tyrion Varys. Curabitur posuere augue risus, eget mollis
                                    unuch
                                    consectetur quis. Vestibulum accumsan congue risus, in semper eros interdum id.
                                    Tincidunt vitae libero efficitur viverra. Integer venenatis massa in dui viverra
                                    fermentum. Eunuch fringilla arcu ac urna sodales fermentum. Ut luctus enim ut
                                    sagittis
                                    consectetur.

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- <div class="row justify-content-center mt-4 mt-md-5">
                <div class="col-auto">
                    <div class="alert bg-light">Bạn vẫn còn câu hỏi nào khác? <a href="#">Xem thêm ở đây</a>
                    </div>
                </div>
            </div> -->
        </div>
    </section>


    {% include "shared/newsletter.html" %}





    <footer class="bg-light text-white links-white pb-4 pt-4 footer-1">
        <div class="container">
            <div class="row flex-column flex-lg-row align-items-center justify-content-center ">
                <div class="col-auto">
                    <div class="d-flex flex-column flex-sm-row align-items-center text-small">
                        <div class="text-dark">&copy; Copyright M_Service 2019
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>



    {% endblock %}

    {% block javascript %}

    <script type="text/javascript">
        // document.body.classList.add("toichon");
        // $('#modalSuccess').modal('show');
        $('.navbar-kyc').on('click', function () {
            $('.navbar-collapse').collapse('hide');
        });
    </script>

    {% endblock %}