{% set header_title = 'Gaming Template' %}

{% extends 'layouts/layout.html' %}


{% set siteHtml = filename %}

{% block head %}
<link href="assets/css/jquery.pagepiling.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="home-piling a-pagepiling full-height slide-dark">

    {% for item in sliderPeople[siteHtml] %}
    <div class="section pp-scrollable slide slide1 slide-dark">
        <div class="slide-container">

            <div class="slide-bg bg-dark">
                <div class="inside" style="background-image: url('assets/{{item.images}}'); opacity: 1;">
                </div>
            </div>

            {% if item.overlay == "true" %}

            <div class="slide-overlay">

            </div>

            {% endif %}

            <div class="container">
                <div class="row align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-6  ">
                        <div class="slide-date">
                            Ngày {{item.date}}
                        </div>

                        <h1 class="h2 text-white text-cung ml16 txt-shadow"> <mark data-aos="highlight-text">
                                {{item.heading}}
                        </h1>

                        <div class="slide-dash"></div>
                        {% for txt in item.desc %}
                        <p class="lead ml14 txt-shadow">
                            {{ txt}}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="section pp-scrollable  slide slide1 slide-dark">
        <div class="slide-container pb-0">

            <div class="slide-bg bg-dark">
                <div class="inside"
                    style="background: rgb(247,156,197);
                    background: radial-gradient(circle, rgba(247,156,197,1) 0%, rgba(242,102,163,1) 86%, rgba(243,97,162,1) 100%); opacity: 1 !important;">
                </div>
            </div>


            <div class="container">
                <div class="row align-items-center h-100">
                    <div class="col-md-12 col-lg-5 ">

                        <div class=" tada animated img-toichon">
                            <img src="assets/img/ld/Logo_Toichonmomo.svg" class="img-fluid mx-auto d-block my-4" alt="">

                        </div>

                        <div class="row mt-4  no-gutters mt-4 pt-lg-4 mb-lg-4">

                            <div class="col-12 col-lg-6">
                                <div class="row justify-content-center">
                                    <div class="col-auto col-lg-12">
                                        <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                            class="app-download mb-lg-3" target="_blank">
                                            <img src="https://static.mservice.io/img/tai-appstore.png" width=""
                                                class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="col-auto col-lg-12">
                                        <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                            class="app-download" target="_blank">
                                            <img src="https://static.mservice.io/img/tai-google-play.png" width=""
                                                class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12  col-lg-6">
                                <img src="https://static.mservice.io/blogscontents/momo-upload-api-190805163151-637006195114792423.png"
                                    width="113" class="img-fluid d-none d-lg-block" alt="">
                            </div>

                        </div>


                    </div>

                    <div class="col-md-12 col-lg-7 align-self-end ">

                        <div class=" ml14 toichon-img">




                            {% for item in people %}

                            {% if siteHtml == item.link %}
                            <img src="{{item.index}}" class="img-fluid mx-auto d-block" alt="">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lqd-stack-page-number"></div>

{% include "shared/character.html" %}

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="assets/js/jquery.pagepiling.min.js"></script>

<script>


    $(document).ready(function () {
        var $body = $("body");
        $body.addClass('lqd-stack-effect-enabled lqd-stack-effect-fadeScale');

        var $sections = $(".a-pagepiling .section");
        var totalSections = $sections.not(".main-footer").length;


        var $pageNumber = $(".lqd-stack-page-number");
        var $pageNumnerCounter = $(
            '<span class="lqd-stack-page-number-counter">\n\t\t\t\t<span class="lqd-stack-page-number-current"></span>\n\t\t\t\t<span class="lqd-stack-page-number-passed"></span>\n\t\t\t</span>'
        );
        var $pageNumnerTotal = $(
            '<span class="lqd-stack-page-number-total">' +
            (totalSections < 10 ? "0" : "") +
            totalSections +
            "</span>"
        );
        $pageNumber.append($pageNumnerCounter);
        $pageNumber.append($pageNumnerTotal);


        $body.append($pageNumber);

        //index start from 1
        function setPageNumber(index) {
            var $currentPageNumber = $pageNumber.find(".lqd-stack-page-number-current");
            var $passedPageNumber = $pageNumber.find(
                ".lqd-stack-page-number-passed"
            );
            $passedPageNumber.html($currentPageNumber.html());
            $currentPageNumber.html("" + (index < 10 ? "0" : "") + index);
        }

        function addDirectionClassName(direction) {
            if (direction == "down") {
                $body.removeClass("lqd-stack-moving-up").addClass("lqd-stack-moving-down");
            } else if (direction == "up") {
                $body.removeClass("lqd-stack-moving-down").addClass("lqd-stack-moving-up");
            }
        }

        function setAnimation(nextIndex) {
            var textWrapper2 = $(".a-pagepiling .section").find('.ml16');
            textWrapper2.each(function (index) {
                $(this)[0].innerHTML = $(this).text().replace(/\S+/g, "<span class='letter'>$&</span>");
            });
            var ffff = document.querySelectorAll(".a-pagepiling .section");

            var des = ffff[nextIndex - 1].querySelectorAll('.ml16 .letter');

            var des2 = ffff[nextIndex - 1].querySelectorAll('.ml14');

            anime.timeline({ loop: false })
                .add({
                    targets: des,
                    translateY: [50, 0],
                    rotateZ: [10, 0],
                    opacity: [0, 1],
                    easing: "easeOutExpo",
                    duration: 1500,
                    delay: (el, i) => 100 * i
                });

            anime.timeline({ loop: false })
                .add({
                    targets: des2,
                    translateY: [100, 0],
                    opacity: [0, 1],
                    easing: "easeOutExpo",
                    duration: 1500,
                    delay: 800
                });

        }


        $('.a-pagepiling').pagepiling({
            sectionSelector: ".section",
            scrollingSpeed: 1000,
            easing: "linear",
            anchors: [],
            css3: true,
            menu: '#menu',
            loopTop: false,
            loopBottom: false,
            effect: "fadeScale",
            animateAnchor: false,
            navigation: {
                'position': 'right'
            },
            afterLoad: function (anchorLink, index) {

                // Wrap every letter in a span


                $sections.removeClass(
                    "will-change lqd-stack-row-entering lqd-stack-row-leaving"
                );

                $body.removeClass(
                    "lqd-stack-moving lqd-stack-moving-up lqd-stack-moving-down"
                );

                // if (index == 1 || index == 3 || index == 5) { // Section with dark bacgkrounds
                //     $('body').addClass('dark-horizontal');
                // }
                // else {
                //     $('body').removeClass('dark-horizontal');
                // }
            },
            onLeave: function (index, nextIndex, direction) {

                var $destinationRow = $($sections[nextIndex - 1]);
                var $originRow = $($sections[index - 1]);

                if (!$destinationRow.is('.main-footer') && !$originRow.is(".main-footer")) {
                    $body.addClass("lqd-stack-moving");
                    setPageNumber(nextIndex);
                    $destinationRow.removeClass("lqd-stack-row-leaving").addClass("lqd-stack-row-entering");
                    $originRow.removeClass("lqd-stack-row-entering").addClass("lqd-stack-row-leaving");
                } else if ($originRow.is(".main-footer")) {
                    $originRow.addClass("lqd-stack-row-leaving");
                }
                if ($destinationRow.is(".main-footer")) {
                    $body.addClass("lqd-stack-footer-active");
                    $originRow.css("transform", "none");
                } else {
                    $body.removeClass("lqd-stack-footer-active");
                }
                setAnimation(nextIndex);

                addDirectionClassName(direction);


                if (nextIndex == totalSections) {
                    $body.addClass("lqd-stack-end");
                } else {
                    $body.removeClass("lqd-stack-end");
                }

            },
            afterRender: function () {
                setPageNumber(1);
                setAnimation(1);
            }
        });

        // $('.a-pp-prev').on('click', function () {
        //     $.fn.pagepiling.moveSectionUp();

        // });
        // $('.a-pp-next').on('click', function () {
        //     $.fn.pagepiling.moveSectionDown();
        // });
    });
</script>

{% endblock %}