{% set header_title = 'Gaming Template' %}

{% extends 'layouts/layout.html' %}

{% block content %}



<div class="o-hidden position-relative hero-toichon" data-overlay>
    <section class="hero-section">
        <!-- <section class="hero-section" style="background-color: #ff6294"> -->
        <div class="container">
            <div class="row justify-content-around align-items-center">



                <div class="col-lg-6 order-2 order-lg-1 col-10 mb-lg-0">


                    <div class="" data-aos="zoom-in-up" data-aos-delay="500" data-aos-duration="1000">
                        <!-- <img src="assets/img/toichon/hero-people.png" class="img-fluid" alt=""> -->
                        <img src="assets/img/toichon/people-hero.png" class="img-fluid" alt="">
                    </div>


                </div>

                <div class="col-lg-6 order-1 order-lg-2 col-10">
                    <div class="text-white text-center mb-2" data-aos="fade-up">
                        <p class="lead mb-1 txt-shadow font-weight-bold ">Tham Gia Cuộc Thi</p>
                        <h1 class="h2 font-weight-black txt-shadow">"TÔI CHỌN MOMO"</h1>
                    </div>
                    <div class="hero-people mb-4">

                        <div class="hero-people" data-aos="fade-up" data-aos-delay="250">
                            <img src="assets/img/toichon/hero-heading2.svg" class="img-fluid" alt="">
                        </div>

                    </div>

                    <div class="text-center mb-4 mb-lg-0">
                        <!-- <a href="#dangbaiduthi" class="btn btn-light text-primary-2 font-weight-black text-uppercase "
                            data-smooth-scroll>Tham gia ngay</a> -->

                        <a href="#dangbaiduthi" class="" data-smooth-scroll>
                            <img src="assets/img/toichon/btn.svg" width="230" alt="">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- <div class="position-absolute w-50 h-50 bottom right" data-jarallax-element="-50">
        <div class="blob blob-3 w-100 h-100 top right bg-white opacity-10"></div>
    </div> -->

    <div class="w-50 h-50 bottom right position-absolute" data-jarallax-element="50">
        <div class="blob blob-toichonmomo  bg-white opacity-10  w-100 h-100"></div>
    </div>
    <!-- <div class="w-50 h-50 bottom right position-absolute" data-jarallax-element="75">
        <div class="blob blob-6 bg-white opacity-10 w-100 h-100"></div>
    </div> -->

    <div id="particles-js"></div>

    <div class="divider divider-bottom bg-light"></div>
    <!-- <div class="divider divider-bottom bg-light"></div> -->
</div>

<section class=" bg-light pb-0  pt-4 pt-lg-5 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

                <div class="row ">
                    <div class=" col-lg-6 col-md-6 text-center  mb-3 mb-lg-0">

                        <div class="row toichon-count-dash ">
                            <div class="col" data-aos="fade-up" data-aos-delay="100">
                                <h6 class="mb-3">Bài thi tham dự</h6>
                                <div class="toichon-count shadow-sm">
                                    <div class="h3  txt-momo-hot mb-0" data-countup  data-start="" data-end="1567"
                                        data-duration="" data-decimal-places="" data-prefix="" data-separator=","
                                        data-grouping="true" data-suffix="" data-easing=""></div>
                                </div>

                            </div>
                            <div class="col" data-aos="fade-up" data-aos-delay="200">
                                <h6 class="mb-3">Bài thì đã duyệt</h6>
                                <div class="toichon-count  shadow-sm">
                                    <div class="h3  txt-momo-hot mb-0" data-countup data-start="0" data-end="1243"
                                        data-duration="1" data-decimal-places="" data-prefix="" data-separator="."
                                        data-grouping="" data-suffix="" data-easing="false"></div>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class=" col-lg-5 col-md-6 text-center ">

                        <h3 class="h6 mb-3">Thời gian kết thúc</h3>

                        <div class="d-flex flex-row flex-wrap  add-countdown-time justify-content-center"
                            data-countdown-date="2019/08/06" data-detailed>
                            <div class="toichon-countdown-item text-center bg-white shadow-sm rounded">
                                <div class="h3 mb-1 " data-days></div>
                                <span class="">Ngày</span>
                            </div>
                            <div class="toichon-countdown-item text-center bg-white shadow-sm rounded ">
                                <div class="h3 mb-1 " data-hours></div>
                                <span class="">Giờ</span>
                            </div>
                            <div class="  toichon-countdown-item text-center bg-white shadow-sm rounded ">
                                <div class="h3 mb-1 " data-minutes></div>
                                <span class="">Phút</span>
                            </div>
                            <div class=" toichon-countdown-item text-center bg-white shadow-sm rounded ">
                                <div class="h3 mb-1 " data-seconds></div>
                                <span class="">Giây</span>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- <div class="dash-dot pb-4 pb-lg-5">

                </div> -->
            </div>
        </div>

    </div>
</section>



<section class="bg-light ">
    <div class="container">





        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="h1">Hướng dẫn <mark data-aos="highlight-text" data-aos-delay="250" class="">tham gia</mark>
                </h3>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs lead mb-4 mb-md-5 justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Bước 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Bước 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                aria-controls="contact" aria-selected="false">Bước 3</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact2" role="tab"
                                aria-controls="contact" aria-selected="false">Bước 4</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row align-items-center justify-content-around">
                                <div class="col-lg-6 col-xl-5 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                                    <div class="pr-lg-4 pr-xl-5" data-aos="fade-right">
                                        <h3 class="h2">Viết bài dự thi</h3>

                                        <div class="d-none d-md-block">
                                            <p>
                                                Người chơi đăng bài dự thi trên facebook cá nhân ở chế độ hiển thị công
                                                khai
                                                với nội dung <strong class="text-primary-2">“Tôi chọn MoMo vì …”
                                                </strong>
                                                kèm hình ảnh minh hoạ sử dụng hoặc mô tả các sản phẩm, dịch vụ thanh
                                                toán
                                                với Ví MoMo cùng hashtag <strong
                                                    class="text-primary-2">#ToiChonMoMo</strong>.

                                            </p>

                                            <div class="mt-2 mt-lg-4">
                                                <a href="#" class="btn btn-outline-primary-2 btn-sm">Tới trang cá
                                                    nhân</a>
                                            </div>
                                        </div>

                                        <div class="d-block d-md-none">
                                            <div class="img-ios">
                                                <p>
                                                    Người chơi đăng bài dự thi trên facebook cá nhân ở chế độ hiển thị
                                                    công khai với nội dung <strong class="text-primary-2"> “Tôi chọn
                                                        MoMo vì …”</strong> kèm
                                                    hình ảnh minh hoạ sử dụng hoặc mô tả các sản phẩm, dịch vụ thanh
                                                    toán với Ví MoMo cùng hashtag <strong
                                                        class="text-primary-2">#ToiChonMoMo</strong>.

                                                </p>
                                            </div>

                                            <div class="img-android">
                                                <p>
                                                    Người chơi đăng bài dự thi trên facebook cá nhân ở chế độ hiển thị
                                                    công khai với nội dung <strong class="text-primary-2">“Tôi chọn MoMo
                                                        vì …”</strong> kèm hình ảnh minh hoạ sử
                                                    dụng hoặc mô tả các sản phẩm, dịch vụ thanh toán với Ví MoMo cùng
                                                    hashtag <strong class="text-primary-2">#ToiChonMoMo</strong>.
                                                </p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7" data-aos="fade-left">
                                    <div class="d-none d-md-block">
                                        <div class="embed-responsive embed-responsive-hd1">
                                            <img src="https://static.mservice.io/images/s/momo-upload-api-191203110910-637109681501564403.png"
                                                alt="Screenshot"
                                                class="img-fluid rounded shadow border embed-responsive-item">
                                        </div>

                                    </div>

                                    <div class="d-block d-md-none">
                                        <div class="embed-responsive embed-responsive-hd2 img-ios">
                                            <img data-src="assets/img/1.png" alt="Screenshot"
                                                class="img-fluid rounded shadow border lazyload embed-responsive-item">
                                        </div>

                                        <div class="embed-responsive embed-responsive-hd2 img-android">
                                            <img data-src="https://static.mservice.io/images/s/momo-upload-api-191203134522-637109775226867521.png"
                                                alt="Screenshot"
                                                class="img-fluid rounded shadow border lazyload embed-responsive-item">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row align-items-center justify-content-around">
                                <div class="col-lg-6 col-xl-5 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                                    <div class="pr-lg-4 pr-xl-5" data-aos="fade-right">
                                        <h3 class="h2">Tìm liên kết</h3>

                                        <div class="d-none d-md-block">
                                            <p>
                                                Bấm vào phần <strong>thời gian đăng bài</strong> để xuất hiện đường liên
                                                kết
                                                của bài dự thi.
                                            </p>

                                        </div>

                                        <div class="d-block d-md-none">
                                            <div class="img-ios">
                                                <p>
                                                    Bấm nút <strong>Chia sẻ (Share)</strong> bài dự thi và chọn mục
                                                    <strong>Tuỳ chọn khác (More Options)</strong> .

                                                </p>
                                            </div>

                                            <div class="img-android">
                                                <p>
                                                    Bấm vào biểu tượng <strong>dấu ba chấm "..."</strong> để nhận liên
                                                    kết.
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7" data-aos="fade-left">
                                    <div class="d-none d-md-block">
                                        <div class="embed-responsive embed-responsive-hd1">
                                            <img src="https://static.mservice.io/images/s/momo-upload-api-191203110916-637109681564728465.png"
                                                alt="Screenshot"
                                                class="img-fluid rounded shadow border embed-responsive-item">
                                        </div>

                                    </div>

                                    <div class="d-block d-md-none">
                                        <div class="embed-responsive embed-responsive-hd2 img-ios">
                                            <img data-src="https://static.mservice.io/images/s/momo-upload-api-191203112636-637109691964206859.png"
                                                alt="Screenshot"
                                                class="img-fluid rounded shadow border lazyload embed-responsive-item">
                                        </div>

                                        <div class="embed-responsive embed-responsive-hd2 img-android">
                                            <img data-src="https://static.mservice.io/images/s/momo-upload-api-191203134529-637109775293064301.png"
                                                alt="Screenshot"
                                                class="img-fluid rounded shadow border lazyload embed-responsive-item">
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row align-items-center justify-content-around">
                                <div class="col-lg-6 col-xl-5 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                                    <div class="pr-lg-4 pr-xl-5" data-aos="fade-right">
                                        <h3 class="h2">Sao chép liên kết</h3>


                                        <div class="d-none d-md-block">
                                            <p>
                                                <strong>Sao chép (copy)</strong> toàn bộ đường liên kết để có thể gửi
                                                bài dự thi này đến
                                                MoMo.
                                            </p>
                                        </div>

                                        <div class="d-block d-md-none">
                                            <div class="img-ios">
                                                <p>
                                                    Chọn <strong>Sao chép (Copy)</strong> để lấy liên kết của bài dự
                                                    thi.

                                                </p>
                                            </div>

                                            <div class="img-android">
                                                <p>
                                                    Chọn <strong>Sao chép (Copy)</strong> để lấy liên kết của bài dự
                                                    thi.

                                                </p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7" data-aos="fade-left">
                                    <div class="d-none d-md-block">
                                        <div class="embed-responsive embed-responsive-hd1">
                                            <img src="https://static.mservice.io/images/s/momo-upload-api-191203110921-637109681613186154.png"
                                                alt="Screenshot"
                                                class="img-fluid rounded shadow border embed-responsive-item">
                                        </div>

                                    </div>

                                    <div class="d-block d-md-none">
                                        <div class="embed-responsive embed-responsive-hd2 img-ios">
                                            <img data-src="https://static.mservice.io/images/s/momo-upload-api-191203112643-637109692031855047.png"
                                                alt="Screenshot"
                                                class="img-fluid rounded shadow border lazyload embed-responsive-item">
                                        </div>

                                        <div class="embed-responsive embed-responsive-hd2 img-android">
                                            <img data-src="https://static.mservice.io/images/s/momo-upload-api-191203134534-637109775344808624.png"
                                                alt="Screenshot"
                                                class="img-fluid rounded shadow border lazyload embed-responsive-item">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row align-items-center justify-content-around">
                                <div class="col-lg-6 col-xl-5 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                                    <div class="pr-lg-4 pr-xl-5" data-aos="fade-right">
                                        <h3 class="h1">Đăng ký tham gia</h3>


                                        <div class="d-none d-md-block">
                                            <p>
                                                Điền đầy đủ thông tin tại mục <a href="#dangbaiduthi"
                                                    class="text-primary-2" data-smooth-scroll> "ĐĂNG KÝ THAM GIA"</a>
                                                trên website cuộc thi và xác
                                                nhận tham gia.
                                            </p>
                                        </div>

                                        <div class="d-block d-md-none">
                                            <div class="img-ios">
                                                <p>
                                                    Điền đầy đủ thông tin tại mục <a href="#dangbaiduthi"
                                                        class="text-primary-2" data-smooth-scroll> "ĐĂNG KÝ THAM
                                                        GIA"</a> trên website cuộc thi và xác
                                                    nhận tham gia.
                                                </p>
                                            </div>

                                            <div class="img-android">
                                                <p>
                                                    Điền đầy đủ thông tin tại mục <a href="#dangbaiduthi"
                                                        class="text-primary-2" data-smooth-scroll> "ĐĂNG KÝ THAM
                                                        GIA"</a> trên website cuộc thi và xác
                                                    nhận tham gia.
                                                </p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7" data-aos="fade-left">
                                    <div class="d-none d-md-block">
                                        <div class="embed-responsive embed-responsive-hd1">
                                            <img src="https://static.mservice.io/images/s/momo-upload-api-191203112339-637109690198249425.png"
                                                alt="Screenshot"
                                                class="img-fluid rounded shadow border embed-responsive-item">
                                        </div>

                                    </div>


                                    <div class="d-block d-md-none">
                                        <div class="embed-responsive embed-responsive-hd2 img-ios">
                                            <img data-src="https://static.mservice.io/images/s/momo-upload-api-191203112629-637109691892871239.png"
                                                alt="Screenshot"
                                                class="img-fluid rounded shadow border lazyload embed-responsive-item">
                                        </div>

                                        <div class="embed-responsive embed-responsive-hd2 img-android">
                                            <img data-src="https://static.mservice.io/images/s/momo-upload-api-191203134540-637109775401947795.png"
                                                alt="Screenshot"
                                                class="img-fluid rounded shadow border lazyload embed-responsive-item">
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class=" pt-0 " id="dangbaiduthi">
    <div class="divider divider-top transform-flip-x bg-light"></div>
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="h1 text-white">Đăng ký <mark data-aos="highlight-text" data-aos-delay="250" class=""> tham
                        gia</mark></h3>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-5 order-lg-1 order-2 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="250">

                <h3 class="text-white mt-lg-4 mt-3">Thể lệ chương trình</h3>

                <div class="faq-container-scroll">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3 ">
                            <a href="#accordion-1" data-toggle="collapse" role="button" aria-expanded="false"
                                class="px-3 py-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">Thời gian tổ chức</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm bg-white" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse " id="accordion-1" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    <p><strong class="text-yellow">Từ ngày 09/12/2019 đến hết ngày 05/01/2020 (4
                                            tuần)</strong></p>

                                    <ul class="p-0 pl-3  m-0">
                                        <li>
                                            Tuần 1: Thời gian đăng ký từ 00:00 ngày 09/12/2019 đến hết 23:59 ngày
                                            15/12/2019


                                        </li>
                                        <li>
                                            Tuần 2: Thời gian đăng ký từ 00:00 ngày 16/12/2019 đến hết 23:59 ngày
                                            22/12/2019

                                        </li>
                                        <li>
                                            Tuần 3: Thời gian đăng ký từ 00:00 ngày 23/12/2019 đến hết 23:59 ngày
                                            29/12/2019

                                        </li>
                                        <li>
                                            Tuần 4: Thời gian đăng ký từ 00:00 ngày 30/12/2019 đến hết 23:59 ngày
                                            05/01/2020
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-2" data-toggle="collapse" role="button" aria-expanded="false"
                                class="px-3 py-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">Đối tượng tham gia:</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm bg-white" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-2" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    <ul class="p-0 pl-3  m-0">
                                        <li>
                                            Là khách hàng đang sử dụng Ví điện tử MoMo.

                                        </li>
                                        <li>
                                            Có địa chỉ tài khoản Facebook (account) rõ ràng để Ban Tổ Chức (BTC) có thể
                                            liên lạc khi cần thiết.

                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-3" data-toggle="collapse" role="button" aria-expanded="false"
                                class="px-3 py-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">Điều kiện tham gia và tiêu chí cho một bài tham gia hợp lệ:
                                    </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm bg-white" data-inject-svg>
                                </div>
                            </a>

                            <div class="collapse" id="accordion-3" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    <ul class="p-0 pl-3  m-0">
                                        <li>
                                            Nội dung bài dự thi phải hiển thị ở chế độ công khai và phải có hashtag
                                            <strong class="text-yellow">#ToiChonMoMo</strong>
                                        </li>
                                        <li>
                                            Bài thi thể hiện rõ chủ đề của cuộc thi, nội dung văn minh, sáng tạo, hài
                                            hước và ý nghĩa.
                                        </li>
                                        <li>
                                            Nội dung bài dự thi có đề cập đến các sản phẩm/ dịch vụ thanh toán của ứng
                                            dụng Ví MoMo.
                                        </li>
                                        <li>
                                            Một người có thể tham gia với nhiều bài thi và hình ảnh khác nhau, không
                                            giới hạn số lượng.
                                        </li>
                                        <li>
                                            Các hình ảnh và bài viết phải thuộc quyền sở hữu của người tham gia. BTC sẽ
                                            không công nhận những hình ảnh hoặc bài thi được sao chép từ trên internet
                                            hoặc từ những cá nhân khác.
                                        </li>
                                        <li>Thời gian người chơi đăng bài dự thi lên trang facebook cá nhân và đăng ký
                                            tham gia phải cùng trong thời gian của tuần đăng ký tham gia.
                                        </li>
                                        <li>
                                            Kết thúc thời gian bình chọn, bài thi nhận được nhiều lượt tương tác nhất sẽ
                                            giành chiến thắng tuần đó. Lượt tương tác bao gồm lượt phản ứng (reaction)
                                            và lượt chia sẻ (share) của các bài thi được công bố trên fanpage Ví MoMo.

                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>


                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-4" data-toggle="collapse" role="button" aria-expanded="false"
                                class="px-3 py-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">Cách thức chí tuyển chọn:</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm bg-white" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-4" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    Khaleesi ornare pharetra diam sit amet tincidunt. Eunuch sit amet pharetra odio.
                                    Vivamus
                                    in tempor ipsum, sit amet elementum neque. Sed faucibus posuere pharetra.
                                </div>
                            </div>
                        </div>
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-5" data-toggle="collapse" role="button" aria-expanded="false"
                                class="px-3 py-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">Cơ cấu giải thưởng:</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm bg-white" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-5" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    Brienne ac maximus Loras, eu placerat odio. Etiam vestibulum Loras et sollicitudin
                                    pellentesque. Mauris sed Tyrion Varys. Curabitur posuere augue risus, eget mollis
                                    unuch
                                    consectetur quis. Vestibulum accumsan congue risus, in semper eros interdum id.
                                    Tincidunt vitae libero efficitur viverra. Integer venenatis massa in dui viverra
                                    fermentum. Eunuch fringilla arcu ac urna sodales fermentum. Ut luctus enim ut
                                    sagittis
                                    consectetur.

                                </div>
                            </div>
                        </div>
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-6" data-toggle="collapse" role="button" aria-expanded="false"
                                class="px-3 py-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2"> Quyền và trách nhiệm của thí sinh</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm bg-white" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-6" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    Brienne ac maximus Loras, eu placerat odio. Etiam vestibulum Loras et sollicitudin
                                    pellentesque. Mauris sed Tyrion Varys. Curabitur posuere augue risus, eget mollis
                                    unuch
                                    consectetur quis. Vestibulum accumsan congue risus, in semper eros interdum id.

                                </div>
                            </div>
                        </div>

                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-7" data-toggle="collapse" role="button" aria-expanded="false"
                                class="px-3 py-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2"> Quyền và trách nhiệm của BTC</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm bg-white" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-7" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    Brienne ac maximus Loras, eu placerat odio. Etiam vestibulum Loras et sollicitudin
                                    pellentesque. Mauris sed Tyrion Varys. Curabitur posuere augue risus, eget mollis
                                    unuch
                                    consectetur quis. Vestibulum accumsan congue risus, in semper eros interdum id.

                                </div>
                            </div>
                        </div>

                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-8" data-toggle="collapse" role="button" aria-expanded="false"
                                class="px-3 py-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2"> Quy định chung</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm bg-white" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-8" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4">
                                    Brienne ac maximus Loras, eu placerat odio. Etiam vestibulum Loras et sollicitudin
                                    pellentesque. Mauris sed Tyrion Varys. Curabitur posuere augue risus, eget mollis
                                    unuch
                                    consectetur quis. Vestibulum accumsan congue risus, in semper eros interdum id.

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 offset-lg-1 order-lg-2 order-1" data-aos="fade-up" data-aos-delay="500">

                <div class="card  shadow-none">
                    <!--    <div class="position-relative">
                        <img src="assets/img/toichon/form-bg.jpg" alt="Image" class="card-img-top">
                        <div class="divider bottom position-absolute"></div>
                    </div> -->
                    <div class=" card-body">

                        <h3 class="mt-0 mb-4">Thông tin tham dự cuộc thi</h3>

                        <form data-form-email="" novalidate=""
                            action="https://mailform.mediumra.re/jumpstart/request-demo.php">
                            <div class="form-group">
                                <label for="demo-name" class="h6">Họ và tên</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-secondary bg-light" style="">
                                            <img alt="Search" class="icon icon-sm bg-gray opacity-60 transform-flip-y"
                                                data-inject-svg src="assets/img/icons/theme/general/user.svg">
                                        </span>
                                    </div>
                                    <input id="demo-name" name="contact-name" type="text" class="form-control"
                                        placeholder="Họ và tên của bạn" required="">
                                    <div class="invalid-feedback">
                                        Vui lòng nhập tên Facebook
                                    </div>
                                </div>



                            </div>
                            <div class="form-group">
                                <label for="demo-email" class="h6">Số điện thoại liên hệ</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-secondary bg-light" style="">
                                            <img alt="Search" class="icon icon-sm bg-gray opacity-60 transform-flip-y"
                                                data-inject-svg src="assets/img/icons/theme/devices/phone.svg">
                                        </span>
                                    </div>
                                    <input id="demo-email" class="form-control" placeholder="Số điện thoại"
                                        type="search" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập Số điện thoại
                                    </div>
                                </div>

                            </div>

                            <div class="form-group mb-0">
                                <label for="demo-email" class="h6">Đường dẫn bài dự thi</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-primary" style="background : #4267b2">
                                            <img alt="Search" class="icon icon-sm bg-white" data-inject-svg
                                                src="assets/img/icons/social/facebook.svg">
                                        </span>
                                    </div>
                                    <input class="form-control" placeholder="https://www.facebook.com/" type="text"
                                        required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập link bài Facebook
                                    </div>
                                </div>
                                <div class="text-tiny">(Chỉ dán link bài post tham dự cuộc thi trên Facebook) <a
                                        href="https://www.facebook.com/photo.php?fbid=440499350001600&set=a.106021096782762&type=3&theater"
                                        target="_blank">Xem bài viết mẫu</a>
                                </div>



                                <div class="d-none alert alert-success w-100 my-md-3" role="alert"
                                    data-success-message="">
                                    Cám ơn bạn, thông tin đang ok
                                </div>
                                <div class="d-none alert alert-danger w-100 my-md-3" role="alert" data-error-message="">
                                    Vui lòng nhập thông tin chính xác
                                </div>

                                <br>

                                <button class="btn btn-primary-2 text-uppercase btn-block btn-md" type="submit"
                                    data-loading-text="Requesting Demo">

                                    <span>Tham gia</span>
                                </button>

                                <div class="text-danger text-tiny font-italic mt-3">
                                    *Ví MoMo khuyến cáo người chơi tuyệt đối không cung cấp thông tin cá nhân, thông tin
                                    tài khoản ngân hàng, mã xác thực OTP và mật khẩu cho bất kỳ ai với bất kỳ lý do nào.
                                    Nhân viên MoMo, ngân hàng ... không yêu cầu người chơi cung cấp những thông tin này.
                                </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>

    <div class="w-50 h-50 bottom right position-absolute" data-jarallax-element="50">
        <div class="blob blob-toichonmomo  bg-white opacity-10  w-100 h-100"></div>
    </div>
    <!-- <div class="w-50 h-50 bottom right position-absolute" data-jarallax-element="75">
            <div class="blob blob-6 bg-white opacity-10 w-100 h-100"></div>
        </div> -->

    <div id="particles-js2"></div>

</section>





<section class="bg-light">
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="h1">Các bài dự thi <mark data-aos="highlight-text" data-aos-delay="250" class="">đang
                        HOT</mark> </h3>

            </div>
        </div>





    </div>


    <div class="container">
        <div class="row">

            {% for item in range(0,6) %}

            <div class="col-md-6 col-lg-4 mb-3 mb-md-4 testi-col" data-aos="fade-up">
                <div class="hover-box-shadow">
                    <div class="testi-item embed-responsive embed-responsive-1by1 "
                        style="background-image: url('assets/img/toichon/khung-toichonmomo.svg')">
                        <div class="testi-content">

                            <div class="testi-quote">
                                <div class="testi-quote-txt">
                                    Tôi thấy MoMo rất tiện dụng, vì khi tôi đi cửa hàng tiện lợi không cần đứng đợi thối
                                    tiền lẻ nữa. Vì khi tôi đi cửa hàng tiện lợi không cần đứng đợi thối tiền lẻ nữa.
                                </div>
                            </div>

                            <div class="testi-img"
                                style="background-image: url('https://www.airbnb.com/community-stories/images/body/449_1382943637.7142413.jpg')">
                            </div>

                        </div>
                    </div>

                    <div class="testi-author">
                        <div class="row no-gutters align-items-center">
                            <div class="col">
                                <div class="font-weight-bold h6 mr-2 mb-0">
                                    Nguyễn Trần Hoàn Dũng
                                </div>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="">Xem chi tiết</a>
                                <!-- <a href="#" class="">Xem chi tiết</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}


        </div>

        <div class="text-center">
            <a href="#" class="btn btn-outline-primary">
                <div class="d-flex align-items-center">
                    <span>Xem thêm bài dự thi</span>
                    <img src="assets/img/icons/interface/icon-chevron-down.svg" alt="Icon" class="icon bg-primary"
                        data-inject-svg>
                </div>
            </a>
        </div>

    </div>
</section>









<footer class="bg-mid-gray text-white links-white pb-4 pt-4 footer-1">
    <div class="container">
        <div class="row flex-column flex-lg-row align-items-center justify-content-center ">
            <div class="col-auto">
                <div class="d-flex flex-column flex-sm-row align-items-center text-small">
                    <div class="text-dark">&copy; Copyright M_Service 2019
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>


<!-- Modal -->
<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modalSuccess" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-success-body">
                    <img src="https://static.mservice.io/images/s/momo-upload-api-191206102626-637112247867152910.png"
                        alt="" class="img-fluid d-block img1">

                    <div class="text-center lead font-weight-normal">
                        Chúc mừng bạn đã gửi bài dự thi <strong>thành công</strong>. Càng gửi nhiều bài dự thi, càng có
                        nhiều cơ hội giành
                        giải cao nhất đấy!
                    </div>

                    <img src="https://static.mservice.io/images/s/momo-upload-api-191206102614-637112247742662127.png"
                        alt="" class="img-fluid mx-auto d-block img2">

                </div>



            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    document.body.classList.add("toichon");
    // $('#modalSuccess').modal('show');
    (($) => {
        var now = new Date;
        var day = 864e5;
        var weeksToAdd = 2;
        var tenWeeksFromNow = new Date(+now + day * 7 * weeksToAdd).toISOString().slice(0, 10).replace(/\-/g, '/');
        $('[data-countdown-date].add-countdown-time').attr('data-countdown-date', tenWeeksFromNow);
    })(jQuery);

</script>

{% endblock %}