<footer class="bg-primary-3 text-white links-white pb-4 footer-1">
    <div class="container">
        <div class="row">

            <!-- Demo column -->
            <div class="col-xl-auto mr-xl-5 col-md-3 mb-4 mb-md-0">
                <h5>Demos</h5>
                <ul class="nav flex-row flex-md-column">
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="landing-1.html" class="nav-link fade-page px-0 py-2">Landing 1</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="landing-2.html" class="nav-link fade-page px-0 py-2">Landing 2</a>
                    </li>
                </ul>
            </div>

            <!-- Pages column -->
            <div class="col-xl-auto mr-xl-5 col-md-3">
                <h5>Pages</h5>
                <ul class="nav flex-row flex-md-column">
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="company-about-1.html" class="nav-link fade-page px-0 py-2">Company</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="blog-listing-1.html" class="nav-link fade-page px-0 py-2">Blog</a>
                    </li>
                </ul>
            </div>

            <!-- Articles column -->
            <div class="col mt-4 mt-md-0 mt-lg-5 mt-xl-0 order-lg-4 order-xl-3">
                <h5>Articles</h5>
                <ul class="list-unstyled d-flex flex-wrap">
                    <li class="col-12 col-lg-6 col-xl-12 px-0">
                        <div class="row my-2 my-md-3">
                            <a class="col-5" href="#">
                                <img class="rounded img-fluid hover-fade-out" src="assets/img/blog/thumb-2.jpg"
                                    alt="blog.1.image">
                            </a>
                            <div class="col">
                                <a class="h6" href="#">Introducing the new Jumpstart brand</a>
                                <div class="text-small text-muted mt-2">October 10th</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- hr element before fine print -->
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>

        <!-- Social icons -->
        <div
            class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
            <div class="col-auto mt-3 mt-lg-0">
                <ul class="list-unstyled d-flex mb-0">
                    <li class="mx-3">
                        <a href="#" class="hover-fade-out">
                            <img src="assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs bg-white"
                                data-inject-svg>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="#" class="hover-fade-out">
                            <img src="assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs bg-white"
                                data-inject-svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>