<div class="navbar-container" id="">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">

      <!-- Brand Logo -->
      <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="namsinhvien.html">
        <img alt="MoMo" src="assets/img/momo-white.png" width="44" style="">
      </a>

      <div class="d-flex align-items-center order-lg-3">

        <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg
            src="assets/img/icons/interface/icon-menu-white.svg">
          <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg
            src="assets/img/icons/interface/icon-x-white.svg">
        </button>
      </div>


      <!-- A group of nav dropdowns --->
      <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end" id="navigation-menu">
        <ul class="navbar-nav my-3 my-lg-0">

          <!-- Single-level dropdown -->
          <li class="nav-item ">
            <div class="">
              <a class=" nav-link nav-item active " href="namsinhvien.html">Ai cũng chọn MoMo</a>
            </div>
          </li>

          <li class="nav-item ">
            <div class="">
              <a class=" nav-link nav-item  " href="toichonmomo.html">Tôi chọn MoMo</a>
            </div>
          </li>

          <li class="nav-item ">
            <div class="">
              <a class=" nav-link nav-item  " href="visaomomo.html">Vì sao MoMo</a>
            </div>
          </li>
    
        </ul>
        <!-- End of dropdown group -->

      </div>
      <!-- End navbar collapse -->

    </div>
    <!-- End container -->

  </nav>
  <!-- End nav -->
</div>
<!-- End navbar container-->