{% import "macros/macros.html" as macros %}


<!doctype html>
<html lang="en">

<head>
    <!-- Describes the encoding of the page to the browser -->
    <meta charset="utf-8">

    <!-- Sets the title of the page.  Shown in the tab of your browser -->
    <title>Desmond template</title>

    <!-- Required for Bootstrap's responsive media queries to function -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta tag for basic SEO -->
    <meta name="description" content="Momo">

    {% if preloader %}
    <!-- Start Page Loader -->
    <style>
        @keyframes hideLoader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.loader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.loader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.loader {
            animation: hideLoader .5s linear .5s forwards;
        }

        .loading-animation {
            width: 40px;
            height: 40px;
            margin: 100px auto;
            background-color: #2568ef;
            border-radius: 100%;
            animation: pulse 1s infinite ease-in-out
        }

        @keyframes pulse {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0
            }
        }
    </style>
    <script type="text/javascript">
        window.addEventListener("load", function () { document.querySelector('body').classList.add('loaded'); });
    </script>
    <!-- End loading animation -->

    {% endif %}
    {% block head %}

    {% endblock %}
    <!-- Main Theme CSS styles -->
    <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />


    <!-- Font linked from external Google Fonts resource -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700,800&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap&subset=latin-ext,vietnamese"
        rel="stylesheet">



</head>
{% block body %}
<body{{ ' class="page-boxed"' | safe if page_boxed }} data-smooth-scroll-offset="30">
    {% endblock %}
    <!-- Main Nav Bar -->

    {% if preloader %}
    <!-- Start Loader -->
    <div class="loader">
        <div class="loading-animation"></div>
    </div>
    <!-- End Loader -->
    {% endif %}

    {% block nav %}
    {% include "layouts/_head.html" %}

    {% endblock %}
    <!-- Main Body Content -->
    {% block content %}


    {% endblock %}


    <!-- Footer -->



    <!-- "Back to top" button -->

    {% if to_top %}
    <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll
        data-smooth-scroll-offset="120px" data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true"
        data-aos-once="false">
        <img src="assets/img/icons/interface/icon-arrow-up.svg" alt="Icon" class="icon bg-white" data-inject-svg>
    </a>
    {% endif %}



    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

    <script type="text/javascript" src="assets/js/lazysizes.min.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="assets/js/aos.js"></script>

    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <script type="text/javascript" src="assets/js/clipboard.min.js"></script>

    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script type="text/javascript" src="assets/js/jquery.fancybox.min.js"></script>

    <script type="text/javascript" src="assets/js/anime.min.js"></script>

    <!-- Flatpickr (calendar/date/time picker UI) -->
    <!-- <script type="text/javascript" src="assets/js/flatpickr.min.js"></script> -->

    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <!-- <script type="text/javascript" src="assets/js/flickity.pkgd.min.js"></script> -->

    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <!-- <script type="text/javascript" src="assets/js/ion.rangeSlider.min.js"></script> -->

    <!-- Isotope (masonry layouts and filtering) -->
    <!-- <script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script> -->

    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="assets/js/jarallax.min.js"></script>
    <script type="text/javascript" src="assets/js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="assets/js/jarallax-element.min.js"></script>

    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>

    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script type="text/javascript" src="assets/js/plyr.polyfilled.min.js"></script>

    <!-- Prism (displays formatted code boxes) -->
    <!-- <script type="text/javascript" src="assets/js/prism.js"></script> -->

    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>

    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="assets/js/smooth-scroll.polyfills.min.js"></script>

    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script type="text/javascript" src="assets/js/svg-injector.umd.production.js"></script>

    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <!-- <script type="text/javascript" src="assets/js/twitterFetcher_min.js"></script> -->

    <!-- Typed text (animated typing effect)-->
    <script type="text/javascript" src="assets/js/typed.min.js"></script>

    <script type="text/javascript" src="assets/js/particles.min.js"></script>

    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/theme.js"></script>

    <script type="text/javascript" src="assets/js/swiper.min.js"></script>

    <!-- <script type="text/javascript" src="assets/js/modernizr.custom.js"></script> -->
    <!-- <script type="text/javascript" src="assets/js/jquerypp.custom.js"></script> -->
    <!-- <script type="text/javascript" src="assets/js/jquery.bookblock.js"></script> -->

    <script type="text/javascript" src="assets/js/custom.js"></script>

    <!-- Scripts -->
    {% block javascript %}
    <script>


    </script>
    {% endblock %}





    </body>

</html>