<div class="character-container " id="ds-sub-menu">
    <div class="people-container">



            {% for item in people %}

            <div class="people-item ">
                <div class="people-item-link  {% if item.link == filename %} is-active  {% endif %}">
                    <a href="{{item.link}}" class="people-item-ani">
                        <img src="{{item.image}}" class="img-fluid" alt="">
                        <div class="people-item-name">
                            {{item.name}} <span class="d-block">{{item.age}}</span>
                        </div>
                    </a>

                </div>
            </div>
            {% endfor %}
        <!-- Add Pagination -->
    </div>

</div>