<section class="bg-white o-hidden" id="huongdan"
    style="background-image: url(assets/img/why/bg-section-hd.jpg); background-size: cover; ">
    <div class="container">
        <div class="row section-title mb-4 justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="h1 text-pink">Hướng dẫn xác thực tài khoản
                </h3>
            </div>
        </div>


    </div>


    <div class="container">


        <div class="col-12">



            <div class="row manual-device-swiper-container">
                <div class="col-12 col-md-6 order-2 order-md-1">

                    <div class="manual-device d-block ml-lg-auto mr-lg-5" id="hd-sub-img-53138152" childId="53138152">
                        <div class="manual-device-stock ">

                        </div>

                        <div class="manual-device-slide">
                            <div class="swiper-container manual-device-swiper" id="hd-sub-swp-53138152">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                            class="img-fluid lazyload"
                                            alt="T&#x1EA3;i &#x1EE9;ng d&#x1EE5;ng V&#xED; MoMo Ví MoMo">
                                    </div>
                                    <div class="swiper-slide">
                                        <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                                            class="img-fluid lazyload"
                                            alt="Nh&#x1EAD;p s&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i Ví MoMo">
                                    </div>
                                    <div class="swiper-slide">
                                        <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                                            class="img-fluid lazyload"
                                            alt="Nh&#x1EAD;p m&#xE3; x&#xE1;c th&#x1EF1;c  Ví MoMo">
                                    </div>
                                    <div class="swiper-slide">
                                        <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                                            class="img-fluid lazyload"
                                            alt="T&#x1EA1;o m&#x1EAD;t kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p  Ví MoMo">
                                    </div>
                                    <div class="swiper-slide">
                                        <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                                            class="img-fluid lazyload" alt="Nh&#x1EAD;p th&#xF4;ng tin Ví MoMo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="col-12 col-md-6 order-1 order-md-2">


                    <ol class="process list-unstyled manual-process " childId="53138152" id="hd-sub-ctn-53138152">

                        <li class="process_item  active">
                            <div class="process__number">
                                <span>1</span>
                            </div>
                            <div class="process__body">

                                <h4 class="process__body-title">T&#x1EA3;i &#x1EE9;ng
                                    d&#x1EE5;ng V&#xED; MoMo</h4>
                                <div class="process__body-content">
                                    <p><span style="font-size:14px;">Tải ứng dụng miễn
                                            ph&iacute; bằng c&aacute;ch t&igrave;m
                                            kiếm&nbsp;từ kh&oacute;a &ldquo;vi
                                            momo&rdquo;&nbsp;tr&ecirc;n <a
                                                href="https://apps.apple.com/vn/app/id918751511?utm_campaign=momo-1dong&amp;utm_medium=download&amp;utm_source=website-momo">App
                                                Store</a> hoặc <a
                                                href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong">Google
                                                Play Store</a>.</span></p>

                                </div>
                            </div>
                        </li>
                        <li class="process_item  ">
                            <div class="process__number">
                                <span>2</span>
                            </div>
                            <div class="process__body">

                                <h4 class="process__body-title">Nh&#x1EAD;p s&#x1ED1;
                                    &#x111;i&#x1EC7;n tho&#x1EA1;i</h4>
                                <div class="process__body-content">
                                    <p><span style="font-size:14px;">Mở ứng dụng
                                            v&agrave; nhập số điện thoại bạn muốn đăng
                                            k&yacute; V&iacute; MoMo.</span></p>

                                    <p><span style="font-size:14px;"><em>Lưu
                                                &yacute;:&nbsp;</em></span><em>Số
                                            điện&nbsp;thoại đăng k&iacute; V&iacute;
                                            phải tr&ugrave;ng với số điện thoại đăng
                                            k&iacute; Internet Banking của ng&acirc;n
                                            h&agrave;ng bạn muốn li&ecirc;n kết.</em>
                                    </p>

                                </div>
                            </div>
                        </li>
                        <li class="process_item  ">
                            <div class="process__number">
                                <span>3</span>
                            </div>
                            <div class="process__body">

                                <h4 class="process__body-title">Nh&#x1EAD;p m&#xE3;
                                    x&#xE1;c th&#x1EF1;c </h4>
                                <div class="process__body-content">
                                    <p><span style="font-size:14px;">Một tin nhắn chứa
                                            m&atilde; x&aacute;c thực sẽ&nbsp;gửi trực
                                            tiếp đến số điện thoại của bạn.</span></p>

                                    <p><span style="font-size:14px;">Vui l&ograve;ng
                                            kiểm tra v&agrave; nhập ch&iacute;nh
                                            x&aacute;c m&atilde; x&aacute;c thực
                                            v&agrave;o &ocirc; &quot;Nhập m&atilde;
                                            x&aacute;c thực&quot; rồi nhấn &quot;Tiếp
                                            tục&quot;.</span></p>

                                </div>
                            </div>
                        </li>
                        <li class="process_item  ">
                            <div class="process__number">
                                <span>4</span>
                            </div>
                            <div class="process__body">

                                <h4 class="process__body-title">T&#x1EA1;o m&#x1EAD;t
                                    kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p </h4>
                                <div class="process__body-content">
                                    <p><span style="font-size:14px;">Thiết lập mật khẩu
                                            để bảo vệ t&agrave;i khoản V&iacute; MoMo
                                            của bạn gồm 6 chữ số v&agrave; mật khẩu ở 2
                                            &ocirc; phải ho&agrave;n to&agrave;n giống
                                            nhau.<br />
                                            <br />
                                            Sau đ&oacute; bấm &quot;X&aacute;c
                                            nhận&quot;.</span></p>

                                </div>
                            </div>
                        </li>
                        <li class="process_item  ">
                            <div class="process__number">
                                <span>5</span>
                            </div>
                            <div class="process__body">

                                <h4 class="process__body-title">Nh&#x1EAD;p th&#xF4;ng
                                    tin</h4>
                                <div class="process__body-content">
                                    <p><span style="font-size:14px;">Sau khi tạo mật
                                            khẩu đăng nhập th&agrave;nh c&ocirc;ng, bạn
                                            nhập th&ocirc;ng tin c&aacute; nh&acirc;n
                                            theo y&ecirc;u cầu v&agrave; nhấn
                                            &quot;X&aacute;c nhận&quot;&nbsp;để
                                            ho&agrave;n tất đăng k&yacute;.</span></p>

                                </div>
                            </div>
                        </li>
                    </ol>



                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="text-center mt-4 d-none d-lg-block">
            <a href="#" class="btn  btn-primary-2" data-toggle="modal" data-target="#exampleModalCenter">Xác thực
                ngay</a>
        </div>

        <div class="text-center mt-4 d-block d-lg-none">
            <a href="https://momoapp.page.link/vicuatoi" class="btn  btn-primary-2" >Xác thực
                ngay</a>
        </div>
    </div>

</section>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-center">
            <div class="modal-header border-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="assets/img/icons/interface/icon-x.svg" alt="Icon">
                    </span>
                </button>
            </div>
            <div class="modal-body px-md-4 px-lg-5  pt-4 pt-lg-5 pb-4 pb-lg-5">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-auto">
                        <div class="text-center px-md-5 mb-4 mb-lg-0">
                            <img src="https://static.mservice.io/blogscontents/momo-upload-api-190805163151-637006195114792423.png"
                                width="260" class="img-fluid d-block mx-auto shadow  rounded" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg text-center text-lg-left">
                        <h5>Quét mã QR code để xác thực tài khoản</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>