<div class="newsletter">


    <div class="container">
        <div class="newsletter-box">
            <div class="row align-items-center">
                <div class="col-12 col-md-auto">
                    <div class="newsletter-img">
                        <img src="https://static.mservice.io/jk/styles/desktop/images/character/momo-newsletter.png"
                            class="img-fluid " alt="">
                    </div>

                </div>
                <div class="col-12 col-md mb-3 mb-lg-0">
                    <div class="newsletter-content">
                        <div>
                            Chào bạn, chúc bạn một ngày tốt lành.
                            <span class="ml-1" style="position: relative; top: -5px;">
                                <img src="https://static.mservice.io/jk/styles/desktop/images/character/flower.svg"
                                    width="26" alt="">
                            </span>
                        </div>
                        <div>
                            Đừng bỏ lỡ <strong class='text-momo'>những chương trình khuyến mãi</strong> cùng
                            <strong class='text-momo'>quà tặng hấp dẫn </strong> từ Ví MoMo!
                        </div>
                    </div>

                </div>

                <div class="col-12 col-lg-auto " style="text-align:center">

                    <button class="btn btn-primary-2 btn-sm font-weight-bold" type="button" data-toggle="modal"
                        data-target="#subscribe-image-modal">Đăng ký nhận tin
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="subscribe-image-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content row flex-row no-gutters border-0">
                <div class="col-lg-6 bg-cover"
                    style="background-image: url(https://static.mservice.io/blogscontents/momo-upload-api-190620102436-636966230764953171.jpg);">

                </div>
                <div class="col-lg-6 d-flex flex-column">
                    <div class="modal-header text-center border-0 p-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                <img src="assets/img/icons/interface/icon-x.svg" alt="Icon">
                            </span>
                        </button>
                    </div>

                    <div class="modal-body p-4 p-md-5  flex-fill d-flex flex-column justify-content-center">
                        <div>
                            <h5 class="h3 text-center">Đăng ký nhận tin tức!</h5>
                            <p class=" text-center">
                                Đừng bỏ lỡ <strong class='text-momo'>những chương trình khuyến mãi</strong> cùng <strong
                                    class='text-momo'>quà tặng hấp dẫn </strong> từ Ví MoMo!
                            </p>

                            <form class="pt-3" ng-submit="Submit()">

                                <div class="form-group mb-3">

                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input ng-model="SubmitParam.gender" type="radio" id="customSexMale"
                                            value="male" name="rdomale" class="custom-control-input">
                                        <label class="custom-control-label" for="customSexMale">Anh</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input ng-model="SubmitParam.gender" type="radio" id="customSexFemale"
                                            name="rdofemale" value="female" class="custom-control-input">
                                        <label class="custom-control-label" for="customSexFemale">Chị</label>
                                    </div>
                                </div>


                                <div class="form-group mb-3">
                                    <label for="name" class="font-weight-bold">Họ tên</label>
                                    <input ng-model="SubmitParam.name" type="text" class="form-control" id="name"
                                        aria-describedby="emailHelp" placeholder="Họ tên của bạn">
                                    <span class="lutie-11 text-danger d-none" id="name-error">
                                        Vui lòng điền họ tên
                                    </span>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="" class="font-weight-bold">Email address</label>
                                    <input ng-model="SubmitParam.email" type="email" class="form-control" id=""
                                        aria-describedby="emailHelp" placeholder="Nhập địa chỉ email">
                                    <span class="lutie-11 text-danger d-none" id="email-error">
                                        Vui lòng điền email
                                    </span>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="exampleInputEmail1" class="font-weight-bold">Nhập mã xác nhận</label>

                                    <div class="row no-gutters">
                                        <div class="col-5">
                                            <input ng-model="SubmitParam.captcha" type="text" class="form-control" id=""
                                                aria-describedby="" placeholder="Mã xác nhận bên phải">

                                        </div>
                                        <div class="col-7 pl-2">

                                            <img src="" id="captcha-email" alt="captcha">

                                            <a class="refresh-captcha " href="javascript:void(0)"
                                                ng-click="RefreshCaptcha('captcha-email')">
                                                <img width="32" height="auto"
                                                    src="https://static.mservice.io/jk/styles/desktop/images/refresh-icon.png">
                                            </a>
                                        </div>


                                    </div>
                                    <span class="lutie-11 text-danger d-none" id="captcha-error">
                                        Sai mã xác nhận
                                    </span>

                                    <small id="emailHelp" class="form-text text-muted mt-3">
                                        Chúng tôi sẽ không bao giờ chia
                                        sẻ thông tin của bạn.
                                    </small>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block " > Đăng ký
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade " id="modalNewsletter" tabindex="-1" role="dialog" aria-labelledby="demoModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
            <div class="modal-content">

                <div class="container-fluid">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                        <div class="col-md-6 bg-img rounded-left m-h-60 d-none d-sm-block"
                            style="background-image: url('https://static.mservice.io/blogscontents/momo-upload-api-190620102436-636966230764953171.jpg')">

                        </div>
                        <div class="col-md-6 py-5 px-sm-5 my-auto ">

                            <h2 class="pt-sm-3  text-center"
                                ng-bind="Status==1?'Đăng ký nhận tin tức!':'Cập nhật thông tin'">
                            </h2>
                            <p class="text-muted text-center">
                                Đừng bỏ lỡ <strong class='text-momo'>những chương trình khuyến mãi</strong> cùng <strong
                                    class='text-momo'>quà tặng hấp dẫn </strong> từ Ví MoMo!
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Ends -->
</div>