
<div class="nk-gap-4"></div>
<div class="nk-widget">
    <h4 class="nk-widget-title">Search</h4>
    <div>
        <form action="#" class="nk-form nk-form-style-1" novalidate="novalidate">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Type something...">
                <button class="nk-btn nk-btn-lg link-effect-4"><span class="ion-search"></span></button>
            </div>
        </form>
    </div>
</div>
<div class="nk-widget">
    <h4 class="nk-widget-title">Categories</h4>
    <div>
        <ul class="nk-widget-categories">
            <li>
                <a href="#">Business</a>
            </li>
            <li>
                <a href="#">Live News</a>
            </li>
            <li>
                <a href="#">Lifestyle</a>
            </li>
        </ul>
    </div>
</div>
<div class="nk-widget">
    <h4 class="nk-widget-title">Tags</h4>
    <div>
        <div class="nk-widget-tags">
            <a href="#">Creative</a>
            <a href="#">Responsive</a>
            <a href="#">Design</a>
            <a href="#">Bootstrap</a>
            <a href="#">Multi-Concept</a>
        </div>
    </div>
</div>
<div class="nk-widget">
    <h4 class="nk-widget-title">Recent Posts</h4>
    <div>
        {% for i in [0, 1, 2] %}
            <div class="nk-widget-post">
                <a href="{{ posts[i].url }}" class="nk-image-box-1 nk-post-image">
                    <img src="{{ posts[i].thumb_sm }}" alt="">
                </a>
                <h3 class="nk-post-title"><a href="{{ posts[i].url }}">{{ posts[i].title }}</a></h3>
                <div class="nk-post-meta-date">{{ posts[i].date }}</div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="nk-widget">
    <h4 class="nk-widget-title">Popular Products</h4>
    <div>
        {% for i in [0, 1, 2] %}
            <div class="nk-widget-post">
                <a href="{{ shop[i].url }}" class="nk-post-image">
                    <img src="{{ shop[i].photos[0].sm }}" alt="{{ shop[i].title }}">
                </a>
                <h3 class="nk-post-title"><a href="{{ shop[i].url }}">{{ shop[i].title }}</a></h3>
                <div class="nk-product-price">{{ shop[i].price }}</div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="nk-widget">
    <h4 class="nk-widget-title">Instagram</h4>
    <div>
        <div class="nk-instagram row sm-gap vertical-gap"></div>
    </div>
</div>
<div class="nk-widget">
    <h4 class="nk-widget-title">Our Twitter</h4>
    <div>
        <div class="nk-twitter-list" data-twitter-count="2"></div>
    </div>
</div>
<div class="nk-widget">
    <h4 class="nk-widget-title">Facebook</h4>
    <div>
        <div class="fb-page" data-href="http://www.facebook.com/kinfolkmag" data-width="700" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>
    </div>
</div>
<div class="nk-gap-4"></div>
